<script type="text/x-template" id="copyUrlContentTemplate">
    <button  v-if="$root.viewType == 'listView'" v-bind:class="classNameButton" v-bind:data-clipboard-text="getCapabilitiesUrl" alt="Kopier til utklippstavle">
        Url til tjeneste
    </button>
    
    <span v-else v-bind:class="classNameIcon" data-toggle="tooltip" data-placement="bottom" v-bind:data-clipboard-text="copyText" alt="Kopier til utklippstavle" onclick="">
        <i class="fa fa-clipboard"></i>
    </span>
</script>

<script>
    var TableCopyUrl = {
        name: "table-copy-url",
        template: "#copyUrlContentTemplate",
        props: ["metadata"],
        data: function () {
            var data = {
                classNameIcon: "btn btn-copy input-group-addon",
                classNameButton: "btn btn-copy",
                copyText: this.metadata.GetCapabilitiesUrl,
                getCapabilitiesUrl: this.metadata.GetCapabilitiesUrl
            };
            return data;
        },
        created() {
            if (!this.getCapabilitiesUrl) {
                this.classNameIcon = "btn btn-copy input-group-addon disabled";
                this.classNameButton = "btn disabled";
            }
        }

        @* TODO!
           Får ikke tak i props "metadata" på metadata innenfor et tema...
           Må spørre direkte i templaten ved å bruke "Metadata.Title" osv..*@

    };
</script>
