<script type="text/x-template" id="ownerContentTemplate">
    <div>
        <a v-if="$root.viewType == 'listView'" v-bind:href="'/etatvis-oversikt/' + this.metadata.OrganizationSeoName" class="show-loading-animation" data-loading-message="Henter innhold">
            <img v-bind:src="metadata.OrganizationLogoUrl" class="img-responsive center-block" v-bind:alt="metadata.Organization" v-bind:title="'Vis alle datasett fra ' + metadata.Organization" />
        </a>

        <a v-else v-bind:href="'/etatvis-oversikt/' + this.metadata.OrganizationSeoName" class="show-loading-animation" data-toggle='tooltip' data-placement='bottom' v-bind:data-loading-message="'Henter innhold fra ' + metadata.Organization" v-bind:title="'Vis alle datasett fra ' + metadata.Organization">
            {{metadata.Organization}}
        </a>
    </div>
</script>

<script>
    var TableOwner = {
        name: "table-owner",
        template: "#ownerContentTemplate",
        props: ["metadata"]
    };
</script>
