<script type="text/x-template" theme="tabell" id="titleContentTemplate">
    
    @*Liste*@
    <a v-if="$root.viewType == 'listView'" v-bind:href="href" class="show-loading-animation">
        <p style="font-size:14pt" class="role-button search-results-name" role="button">{{metadata.Title}}</p>
    </a>

    @*Galleri*@
    <div v-else-if="$root.viewType == 'galleryView'" class="resultItemRowGallery">
        <div class="search-results-gallery-image layoutblock">
            <div class="block shortcutpageteaserblock size-4 col-sm-4">
                <div class="teaser-with-background-image">
                    <a v-bind:href="href">
                        <div class="teaser-background-image" v-bind:style="{ backgroundImage: 'url(' + thumbnail + ')'}">
                            <div class="teaser-overlay">
                                <div class="teaser-caption">
                                    <div class="teaser-heading">{{metadata.Title}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    @*Tabell*@
    <div v-else class="resultItemRowTitle">
        <a v-bind:href="href" class="show-loading-animation">
            <span class="role-button search-results-name" role="button">{{metadata.Title}}</span>
        </a>
    </div>


</script>

<script>
    var TableTitle = {
        name: "table-title",
        template: "#titleContentTemplate",
        props: ["metadata", ""],
        data: function () {
            var data = {
                href: "/metadata/" +
                    this.metadata.OrganizationSeoName +
                    "/" +
                    this.metadata.TitleSeo +
                    "/" +
                    this.metadata.Uuid,
                content: this.metadata.Title,
                thumbnail: "/thumbnail?uuid=" + this.metadata.Uuid + "&type=small"
            };
            return data;
        }
        
        @* TODO! 
           Får ikke tak i props "metadata" på metadata innenfor et tema... 
           Må spørre direkte i templaten ved å bruke "Metadata.Title" osv..*@

    };



</script>
