@using Resources
<script type="text/x-template" id="copyUrlButtonTemplate">
    <div class="text-center" v-html="htmlElement"></div>
</script>

<script>
    var CopyUrlButton = {
        name: "copyUrlButton",
        template: "#copyUrlButtonTemplate",
        props: ["resultItem", "defaultButtonClass", "buttonType"],
        computed: {
            button: function () {
                var button = {
                    content: "@Html.Raw(UI.UrlToService)",
                    className: this.defaultButtonClass,
                    url: null,
                    title: "@Html.Raw(UI.CopyToClipboard)",
                    icon: {
                        className: "fa fa-clipboard"
                    },
                    attributes: []
                };
                if (this.resultItem.GetCapabilitiesUrl) {
                    button.className += " btn-copy";
                    button.attributes = [
                        { key: "data-clipboard-text", value: this.resultItem.GetCapabilitiesUrl }
                    ]
                }
                else {
                    button.attributes.push({ key: 'disabled', value: 'disabled' });
                    button.className += " disabled";
                }


                if (this.buttonType === "tableRow") {
                    button.content = "";
                    button.className += " table-row-icon";
                }
                return button;
            },
            htmlElement: function () {
                return this.$parent.createButtonElement(this.button);
            }
        },
        mounted: function () {
            var btn = this.$el.firstChild;
            var clipboard = new Clipboard(btn);

            clipboard.on('success', function (e) {
                this.setTooltip(btn, 'Kopiert');
                this.hideTooltip(btn);
            }.bind(this));

            clipboard.on('error', function (e) {
                this.setTooltip(btn, 'Feilet!');
                this.hideTooltip(btn);
            }.bind(this));
        },
        methods: {

            setTooltip: function (btn, message) {
                $(btn).tooltip('hide')
                    .attr('data-original-title', message)
                    .tooltip('show');
            },
            hideTooltip: function (btn) {
                setTimeout(function () {
                    $(btn).tooltip('hide');
                }, 1000);
            },

        }
    };
</script>
