@using Resources
<script type="text/x-template" id="helpButtonTemplate">
    <div v-html="htmlElement"></div>
</script>

<script>
    var HelpButton = {
        name: "helpButton",
        template: "#helpButtonTemplate",
        props: ["resultItem", "defaultButtonClass", "buttonType"],
        computed: {
            button: function () {
                var button = {
                    content: "@Html.Raw(UI.Help)",
                    className: this.defaultButtonClass,
                    url: null,
                    title: "",
                    icon: {
                        className: "glyphicon glyphicon-question-sign"
                    },
                    attributes: []
                };
                if (this.hasHelpText()) {
                    button.url = "#help";
                } else {
                    button.attributes.push({ key: 'disabled', value: 'disabled' });
                    button.className += " disabled";
                }
                if (this.buttonType === "tableRow") {
                    button.content = "";
                }
                return button;
            },
            htmlElement: function () {
                return this.$parent.createButtonElement(this.button);
            }
        },
        methods: {
            hasHelpText: function () {
                return this.resultItem.SupplementalDescription !== null || this.resultItem.HelpUrl !== null;
            }
        }
    };
</script>
