<script type="text/x-template" id="showProductPageButtonTemplate">
    <div v-html="htmlElement"></div>
</script>

<script>
    function getShowProductPageButton(resultItem) {
        var ShowProductPageButton = {
            name: "showProductPageButton",
            template: "#showProductPageButtonTemplate",
            props: ["resultItem", "defaultButtonClass", "buttonType"],
            data: function () {
                return {
                    button: {
                        content: "Vis produktside",
                        className: this.defaultButtonClass,
                        url: this.resultItem.ProductPageUrl !== undefined ? this.resultItem.ProductPageUrl : null,
                        title: "Vis produktside for " + this.resultItem.Title,
                        icon: {
                            className: "custom-icon custom-icon-eksternlink"
                        },
                        attributes: [
                            { key: "onClick", value: "ga('send', 'event', 'MerInfo', 'produktside')" }
                        ]
                    },
                    htmlElement: null
                }

                return button;
            },
            created: function () {
                if (this.button.url == null) {
                    this.button.attributes.push({ key: 'disabled', value: 'disabled' });
                    this.button.className += " disabled";
                }
                this.htmlElement = this.$parent.createButtonElement(this.button);
                if (this.buttonType === "tableRow") {
                    this.button.content = "";
                }
            }
        };
        return ShowProductPageButton;
    }
</script>






