.download-form p {
    margin-bottom: 0;
}



#orderlist h2 {
    margin-top: 0;
    display: inline-block;
}

    #orderlist h2 a {
        font-size: 24pt;
    }

    #orderlist h2:after {
        z-index: -1;
    }

#orderlist a {
    text-decoration: none;
}

#orderlist ul li {
    font-style: normal;
}

/* Chosen select list */

.chosen-container {
    width: 100% !important;
}

    .chosen-container.chosen-disabled {
        background-color: #cfcfcf;
    }

        .chosen-container.chosen-disabled .chosen-choices:hover {
            cursor: not-allowed;
        }

.form-group.disabled, .form-group.disabled .btn:hover {
    cursor: not-allowed !important;
}

.disabled .chosen-container {
    pointer-events: none !important;
}

.disabled .btn {
    opacity: 0.65;
    pointer-events: none !important;
}

.disabled .chosen-container:hover {
}

.disabled .chosen-container .chosen-choices {
    background-color: #eee;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    color: #414042;
    font-family: "Open Sans",sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.chosen-input-group {
    width: calc(100% - 37px);
}

    .chosen-input-group .chosen-container .chosen-choices {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }


    .chosen-input-group button.btn {
        border-radius: 0;
    }

        .chosen-input-group button.btn:hover {
            border-radius: 0;
        }

.chosen-container-multi .chosen-choices {
    background-image: none;
    background: none;
    border: 1px solid #CCC;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border: none;
    border-bottom: 2.5px solid #FE5000;
    border: 1px solid #cfcfcf;
    border-radius: 0;
    padding: 2px 5px;
}

    .chosen-container-multi .chosen-choices:focus {
        border-color: #66AFE9;
        outline: 0px none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
        border: none;
        box-shadow: none;
    }

    .chosen-container-multi .chosen-choices li.search-choice {
        background: #EFEEED !important;
        border: none;
        border-radius: 0;
        line-height: 1;
        box-shadow: none;
        font-family: "Open Sans",sans-serif;
        font-size: 12pt;
        color: #414042;
        height: 25px;
        padding: 0.2em 2.0em 0.3em 0.6em;
        vertical-align: baseline;
    }

        .chosen-container-multi .chosen-choices li.search-choice:before,
        .chosen-container-multi .chosen-choices li.search-field:before,
        .chosen-container-multi .chosen-results li:before {
            content: none;
        }


        .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
            background: #7DA1C4;
            top: 0px;
            line-height: 19pt;
            color: #FFF;
            font-size: 10pt;
            padding: 0 5px;
            display: table;
            right: 0;
            height: 25px;
            display: inline-block;
            width: 23px;
            transition: all 0.35s linear 0s;
        }

            .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
                text-decoration: none;
                color: #FFF;
                background-color: #FE5000;
            }

            .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
                font-family: "Glyphicons Halflings";
                content: "\e014";
            }

.chosen-container .chosen-results li:first-child {
    margin-top: 12px;
}

.chosen-container .chosen-results li {
    font-size: 13pt;
    line-height: 22pt;
    font-family: "Open Sans",sans-serif;
    color: #3867C8;
    padding: 0;
}

    .chosen-container .chosen-results li.group-result {
        color: #414041;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 17px;
    }

    .chosen-container .chosen-results li.group-option {
        color: #3867C8;
        font-weight: 400;
    }

.chosen-container-multi .chosen-drop .result-selected {
    color: #968c83 !important;
}

.chosen-container .chosen-results li.active-result {
    color: #3867C8;
}



.chosen-container .chosen-results li.highlighted {
    background-color: inherit;
    background-image: none;
    text-decoration: underline;
}


.list-icon {
    text-align: center;
}

    .list-icon img {
        max-height: 75px;
        max-width: 100%;
    }

.list-btn-remove {
    border-left: 1px solid #CCC;
    padding-left: 5px;
    color: #777;
    font-size: 16pt;
}

    .list-btn-remove:hover {
        cursor: pointer;
        color: #333;
        font-size: 16pt;
    }


.btn-nodivider .glyphicon {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
}

.input-group .btn.btn-fullheight {
    height: 100%;
    position: absolute;
    top: 0;
}

.chosen-container-active .chosen-choices {
    box-shadow: none;
}

.chosen-container .chosen-drop {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #BCBEC0;
    border: none;
    padding-bottom: 12px;
    padding-left: 34.6px;
}

.chosen-container .chosen-results {
}

.chosen-container-multi .chosen-choices.has-error {
    box-shadow: 0px 0px 4px -2px #A94442 inset;
    border-color: #A94442;
}


/* Nedlastingskvittering */
.download-list {
}

    .download-list .list-group-item {
    }

    .download-list a.list-group-item {
        color: #337AB7;
    }


    .download-list .list-group-item span {
        padding-right: 10px;
        border-right: 1px solid #ccc;
        margin-right: 5px;
    }
