.label-success {
    background-color: #a9c47f;
}

.label-warning {
    background-color: #f0b323;
}

.label-danger {
    background-color: #fe5000;
}

.label-info {
    background-color: #7da1c4;
}


