.label-success {
    background-color: #fe5000;
}

.label-warning {
    background-color: #414042;
}

.label-danger {
    background-color: #fe5000;
}

.label-info {
    background-color: #403a60;
}

.btn {
    background-color: #7DA1C4;
    transition: all 0.35s linear 0s;
    color: #FFF;
    border: none;
}

.btn:hover{
    background-color: #FE5000;
    color: #FFF;
}