.label-datasett {
    border-color: #5d4777;
}

.label-applikasjon {
    border-color: #7da1c4;
}

.label-tjeneste {
    border-color: #a9c47f;
}

.label-tjenestelag {
    border-color: #f0b323;
}

.label-datasettserie {
    border-color: #968c84;
}

.label-danger{
    border-color: #fe5000;
}

.label-warning{
    border-color: #f0b323;
}

.label-success{
    border-color: #a9c47f;
}

.label-info{
    border-color: #7da1c4;
}


.btn, .col-actions .btn {
    background-color: #7DA1C4;
    transition: all 0.35s linear 0s;
    color: #FFF;
    border: none;
    font-style: normal;
}

    .btn.btn-purple {
        background-color: #5d4777;
    }

    .btn:hover, .btn:focus {
        background-color: #FE5000;
        color: #FFF;
        border: none;
        font-style: normal;
    }

    .btn.disabled {
        background-color: #FFF !important;
        color: #cfcfcf;
        border: 1px solid #cfcfcf;
        opacity: 1;
        cursor: not-allowed;
    }

        .btn.disabled:hover {
            color: #cfcfcf;
        }

.btn-xs {
    font-size: 10pt !important;
    padding: 3px;
    height: 22px !important;
}

.input-group-btn > .btn {
    padding: 12px 12px;
    height: 40px;
}

.btn-group > .btn {
    float: none !important;
}

.pagination {
    margin: 0;
}

    .pagination > li > a, .pagination > li > span {
        background-color: #7DA1C4;
        border: 1px solid #cfcfcf;
        border: 1px solid #FFF;
        transition: all 0.35s linear 0s;
        color: #FFF;
        border-radius: 0 !important;
        font-size: 12pt;
    }


    .pagination > .active > a {
        background-color: #FE5000;
        color: #FFF;
        border: 1px solid #FFF;
        transition: all 0.35s linear 0s;
    }

        .pagination > .active > a:hover,
        .pagination > li > a:hover,
        .pagination > li > span:hover {
            background-color: #FE5000;
            color: #FFF;
            border: 1px solid #FFF;
        }

.help-text{
    background-color: #FFF;
    border-radius: 0;
}

.help-text.bg-success{
    border-left: 8px solid #A9C47F;
}