#norgeskartmodal {
    width: 90%;
    position: fixed;
    height: 90%;
    margin: auto;
    left: 5%;
    top: 5%;
    overflow: hidden;
    background: #FFF;
}

    #norgeskartmodal iframe {
        height: 100%;
        position: fixed;
    }

    #norgeskartmodal .modal-footer {
        position: fixed;
        bottom: 0px;
        width: auto;
        right: 0;
        background-color: rgba(220, 220, 220, 0.85);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    }
