.search-results .result-row {
    padding: 0;
    font-size: 12pt;
    word-wrap: break-word;
}

    .search-results .result-row > * {
        margin: 7px 0;
    }

    .search-results .result-row p {
        margin-bottom: 0;
    }

.search-results hr {
    margin-top: 0;
    margin-bottom: 0;
}


/* Table view */
#tableView {
}

    #tableView .search-results-table-heading {
        font-size: 12pt;
        text-transform: uppercase;
        color: #414042;
        line-height: 14pt;
    }

        #tableView .search-results-table-heading > div {
            height: 60px;
        }

            #tableView .search-results-table-heading > div > p {
                position: absolute;
                bottom: 0;
                line-height: inherit;
                margin-bottom: 4px;
            }

    #tableView .active-orderby .orderby-indicator {
        width: 10pt;
        height: 10pt;
        padding: 0px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
        display: inline-block;
        margin-left: 7px;
    }

    #tableView .active-orderby.orderby-desc .orderby-indicator {
        background-image: url("/Content/img/arrow-up.svg");
    }

    #tableView .active-orderby.orderby-asc .orderby-indicator {
        background-image: url("/Content/img/arrow-down.svg");
    }

    #tableView .search-results-logo {
        display: none;
    }

    #tableView .search-results-description {
        display: none;
    }

    #tableView .search-results-action-buttons {
        display: none;
    }

    #tableView .search-results-action-icons {
        text-align: center;
    }

        #tableView .search-results-action-icons .btn {
            background: none;
            color: #7DA1C4;
            padding: 0;
            font-size: 18pt;
            line-height: 1em;
        }

            #tableView .search-results-action-icons .btn:hover,
            #tableView .search-results-action-icons .btn:focus {
                background: none !important;
                color: #FE5000 !important;
                line-height: 1em;
            }

            #tableView .search-results-action-icons .btn.disabled {
                opacity: 1;
                color: #cfcfcf !important;
                border: none;
                background: none !important;
            }

    #tableView .search-results-list-image {
        display: none;
    }

    #tableView .search-results-gallery-image {
        display: none;
    }



/* List view */
#listView {
}

    #listView .search-results-table-heading {
        display: none;
    }

    #listView .search-results-title {
        width: 50%;
    }

        #listView .search-results-name {
            font-size: 18pt;
        }

    #listView .search-results-type {
        display: none;
    }

    #listView .search-results-organization {
        display: none;
    }

    #listView .search-results-action-icons {
        display: none;
    }

    #listView .search-results-action-buttons .btn {
        width: 130px;
    }

    #listView .search-results-gallery-image {
        display: none;
    }


/* Gallery view */
#galleryView {
    margin: 0px -15px;
}

    #galleryView .result-row {
        display: none;
    }

    #galleryView hr {
        display: none;
    }

    #galleryView .search-results-table-heading {
        display: none;
    }

    #galleryView .search-results-logo {
        display: none;
    }

    #galleryView .search-results-title {
        display: none;
    }

    #galleryView .search-results-description {
        display: none;
    }

    #galleryView .search-results-open-data {
        display: none;
    }

    #galleryView .search-results-type {
        display: none;
    }

    #galleryView .search-results-organization {
        display: none;
    }

    #galleryView .search-results-action-buttons {
        display: none;
    }

    #galleryView .search-results-action-icons {
        display: none;
    }

    #galleryView .search-results-list-image {
        display: none;
    }

    #galleryView .teaser-with-background-image {
        text-align: center;
    }

        #galleryView .teaser-with-background-image .teaser-heading {
            font-size: 16pt;
        }


.view-navigation {
    margin-top: 38px;
}

.facet-sok-emne .block.listblock {
    padding: 30px 0;
}


/* Register */

.table-heading .sorted-asc:after, .table-heading .sorted-desc:after {
    content: "";
    width: 10pt;
    height: 10pt;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    display: inline-block;
    margin-left: 7px;
}

.table-heading .sorted-asc:after {
    background-image: url("/Content/img/arrow-up.svg");
}

.table-heading .sorted-desc:after {
    background-image: url("/Content/img/arrow-down.svg");
}
