.container .shopping-cart{
    top: initial;
    bottom: 0;
}

#orderitem-count {
    position: absolute;
    background-color: #FE5000;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    top: -20px;
    left: 20px;
    text-align: center;
    line-height: 17pt;
    color: rgb(255, 255, 255);
    font-size: 12pt;
}

@media (max-width: 768px) {
    .container .shopping-cart {
        right: 11px;
    }
    #orderitem-count {
        width: 20px;
        height: 20px;
        left: 21px;
        top: 6px;
        line-height: 14pt;
    }
    .container .shopping-cart img{
        height: 34px;
    }
}