@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,500,100);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400italic,400);

.container-breadcrumbs { display: none; }

.container-breadcrumbs .breadcrumbs {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    z-index: 1;
}

.container-breadcrumbs .breadcrumbs > li {
    color: #414042;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 500;
}

.container-breadcrumbs .breadcrumbs > li > a {
    color: #3867c8;
    text-decoration: none;
}

.container-breadcrumbs .breadcrumbs > li + li:before {
    color: #414042;
    content: "\25b6";
    height: 9px;
    padding: 0 5px;
}

.container h1 {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 36pt;
    font-weight: 100;
    margin: 0;
    padding-top: 26px;
    word-wrap: break-word;
}

.container h2 {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 28pt;
    font-weight: 300;
    margin-top: 50px;
    word-wrap: break-word;
}

.container h3 {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    font-weight: 300;
    margin-top: 50px;
    word-wrap: break-word;
}

.separator-lg {
    border-bottom: solid #fe5000 4px;
    display: block;
    margin-bottom: 17px;
    padding-top: 23px;
    width: 75px;
}

.separator-md {
    border-bottom: solid #fe5000 2px;
    display: block;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 50px;
}

.separator-small {
    border-bottom: solid #414042 1px;
    display: block;
}

.ingress {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 17pt;
    font-style: italic;
    font-weight: 500;
    line-height: 24pt;
}

input::-ms-clear { display: none; }

article .body-text { padding-top: 35px; }

article .body-text img {
    height: auto;
    max-width: 100%;
}

article p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 500;
    line-height: 24pt;
    word-wrap: break-word;
}

article h2 { margin-bottom: 35.5px; }

article h2:after {
    border-bottom: solid #fe5000 2.5px;
    content: "";
    height: 2.5px;
    left: 15px;
    padding-top: 57px;
    position: absolute;
    width: 50px;
}

article h3 { margin-bottom: 35.5px; }

article h3:after {
    border-bottom: solid #fe5000 2.5px;
    content: "";
    height: 2.5px;
    left: 15px;
    padding-top: 46px;
    position: absolute;
    width: 25px;
}

article a,
article a:hover {
    color: #3867c8;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    line-height: 24pt;
    text-decoration: underline;
    word-wrap: break-word;
}

aside { padding-top: 100px; }

.container aside div div { padding: 0; }

article ul,
aside ul,
.container-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

article ol { padding-left: 30px; }

aside ul li,
.container-footer ul li {
    background-image: url('../img/arrow_414042_9px.svg');
    padding-left: 0;
}

article ul li,
article ol li,
aside ul li,
.container-footer ul li {
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 11px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-style: italic;
    line-height: 24pt;
    padding-left: 18px;
}

article ul li:before {
    color: #fe5000;
    content: "•";
    font-size: 16pt;
    font-style: normal;
    line-height: 24pt;
    padding-right: 10px;
}

article ul li,
article ol li { padding-left: 0; }

aside ul li a,
aside ul li a:hover,
.container-footer ul li a,
.container-footer ul li a:hover {
    color: #3867c8;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 24pt;
    text-decoration: none;
}

article ul li a:hover,
article ol li a:hover,
aside ul li a:hover,
.container-footer ul li a:hover { text-decoration: underline; }

.container aside h3 {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    margin-bottom: 17px;
    margin-top: 0;
    text-transform: uppercase;
}

.container aside .separator-small { margin-bottom: 12px; }

aside .hexagonblock { display: none; }

footer {
    border-top: solid 1px #fe5000;
    margin-top: 50px;
}

footer .container-footer { padding: 30px 0; }

footer .container-footer h2 {
    color: #414042;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 600;
    text-transform: uppercase;
}

.container-footer ul li a,
.container-footer ul li a:hover { line-height: 26pt; }

.container-footer p {
    color: #414042;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 26pt;
}

.page-wizard {
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    -webkit-transition: right 0.3s;
    padding: 0 4em;
    position: fixed;
    right: -18em;
    top: 10em;
    transition: right 0.3s;
}

.page-wizard.open { right: 0; }

.page-wizard .page-wizard-tab {
    -moz-transform: rotate(90deg);
    -moz-transform-origin: 0% 100%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin: 0% 100%;
    -o-transform: rotate(90deg);

    -o-transform-origin: 0% 100%;
    -webkit-transform: rotate(90deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    -webkit-transform-origin: 0% 100%;
    display: block;
    left: -3em;


    min-width: 4em;
    position: absolute;
    transform: rotate(90deg); /* IE 10, Fx 16+, Op 12.1+ */
    transform-origin: 0% 100%;
}

.page-wizard a { font-size: 2em; }

form {
    display: block;
    margin: 0;
}

article .hexagon-wrapper { padding: 30px 0 0 0; }

.hexagon {
    background-position: center;
    background-size: auto 415.6922px;
    height: 207.85px;
    margin: 103.92px 0;
    position: relative;
    width: 360px;
}

.hexTop,
.hexBottom {
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    height: 254.56px;
    left: 52.72px;
    overflow: hidden;
    position: absolute;
    transform: scaleY(0.5774) rotate(-45deg);
    width: 254.56px;
    z-index: 1;
}

.hexTop:after,
.hexBottom:after {
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-103.9230px);
    -ms-transform-origin: 0 0;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-103.9230px);
    -webkit-transform-origin: 0 0;
    background: inherit;
    content: "";
    height: 207.84609690826528px;
    position: absolute;
    transform: rotate(45deg) scaleY(1.7321) translateY(-103.9230px);
    transform-origin: 0 0;
    width: 360.0000px;
}

.hexTop { top: -127.2792px; }

.hexTop:after { background-position: center top; }

.hexBottom { bottom: -127.2792px; }

.hexBottom:after { background-position: center bottom; }

.hexagon:after {
    background: inherit;
    content: "";
    height: 207.8461px;
    left: 0;
    position: absolute;
    top: 0.0000px;
    width: 360.0000px;
    z-index: 2;
}

.hexagon-info {
    height: 103.92px;
    position: relative;
    width: 180px;
}

.hexagon-info-before,
.hexagon-info-after {
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    content: "";
    width: 0;
}

.hexagon-info-before {
    border-bottom-style: solid;
    border-bottom-width: 51.96px;
    bottom: 100%;
}

.hexagon-info-after {
    border-top-style: solid;
    border-top-width: 51.96px;
    top: 100%;
    width: 0;
}

.container .info-text {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    font-weight: 100;
    height: 73.906px;
    line-height: 18pt;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.last-changed-date {
    color: #968c83;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    padding-top: 20px;
}

.start-page-main-image { background-size: 0 0; }

.start-page-container * { text-align: center; }

.layoutblock { padding-top: 40px; }

.start-page-heading {
    padding: 0;
    text-align: center;
}

.start-page-heading h1 { padding: 0; }

.start-page-container .start-page-separator-lg {
    margin: 0 auto 17px auto;
    padding-top: 23px;
    width: 75px;
}

.start-page-container .start-page-ingress {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 24pt;
}

.start-page-container .start-page-read-more a {
    color: #3867c8;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 24pt;
    text-decoration: underline;
}

.start-page-head {
    background-color: #e5e2e0;
    padding: 26px 0 40px 0;
}

.teaser h2 {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 30pt;
    font-weight: 300;
    margin: 0;
}

.teaser .separator-teaser,
.teaser-as-list .separator-teaser {
    border-bottom: solid #fe5000 2.5px;
    display: block;
    margin: 0 auto 16px auto;
    padding-top: 17px;
    width: 50px;
}

.teaser p,
.teaser p + div {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 24pt;
}

.start-page-container .container-fluid,
.standard-page-main-content-area-container .container-fluid { padding: 0; }

.standard-page-main-content-area-container { margin: 85px 0 35px 0; }

.start-page-main-content-area > div > :nth-child(even) { background-color: #e5e2e0; }

.standard-page-main-content-area > div > :nth-child(odd) { background-color: #e5e2e0; }

.teaser-with-icon { padding: 55px 15px 80px 15px; }

.teaser-with-icon .call-to-action {
    height: 140px;
    position: relative;
}

.teaser-with-icon .hexagon-teaser-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.teaser-with-icon .hexagon-teaser-wrapper * {
    backface-visibility: hidden;
    margin: 0 auto;
}

.teaser-with-icon .hexagon-teaser-wrapper .hexagon-teaser {
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    -webkit-transition: all .35s linear;
    background-color: #7da1c4;
    height: 63px;
    padding: 0 15px;
    transition: all 0.35s linear;
    width: 109.119px;
}

.teaser-with-icon .hexagon-teaser-wrapper .hexagon-teaser-before,
.teaser-with-icon .hexagon-teaser-wrapper .hexagon-teaser-after {
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    -webkit-transition: all .35s linear;
    border-left: 54.5595px solid transparent;
    border-right: 54.5595px solid transparent;
    transition: all 0.35s linear;
}

.teaser-with-icon .hexagon-teaser-wrapper .hexagon-teaser-before {
    border-bottom: 31.50px solid #7da1c4;
    bottom: 100%;
    width: 0;
}


.teaser-with-icon .hexagon-teaser-wrapper .hexagon-teaser-after {
    border-top: 31.50px solid #7da1c4;
    top: 100%;
    width: 0;
}

.teaser-with-icon a:hover .hexagon-teaser-before {
    border-bottom: 35.00px solid #fe5000;
    bottom: 100%;
}


.teaser-with-icon a:hover .hexagon-teaser {
    height: 70.00px;
    width: 121.244px;
    background-color: #fe5000;
}

.teaser-with-icon a:hover .hexagon-teaser-after {
    border-top: 35.00px solid #fe5000;
    top: 100%;
    width: 0;
}

.teaser-with-icon a:hover .hexagon-teaser-before,
.teaser-with-icon a:hover .hexagon-teaser-after {
    border-left: 60.622px solid transparent;
    border-right: 60.622px solid transparent;
}

.teaser-with-icon .hexagon-teaser-wrapper .hexagon-teaser .teaser-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 47px;
    max-width: 85px;
    position: absolute;
    right: 0;
    top: 0;
}

.teaser-with-icon * {
    text-align: center;
    text-decoration: none;
}

.teaser-with-icon .teaser-heading {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    height: 80px;
    line-height: 20pt;
    padding-top: 25px;
    position: relative;
    text-transform: uppercase;
}

.teaser-with-icon .teaser-heading .header-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.teaser-with-icon .separator-small {
    border-bottom: solid #fe5000 1px;
    display: block;
    margin: 0 auto 10px auto;
    padding-top: 11px;
    width: 50px;
}

.teaser-with-icon .teaser-text {
    font-size: 16pt;
    line-height: 20pt;
}

.teaser-with-background-image { margin: 0 0 30px 0; }

.teaser-background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 203px;
}

.teaser-with-background-image .teaser-overlay {
    background-color: rgba(254, 80, 0, 0.7);
    height: 100%;
}

.teaser-with-background-image .teaser-overlay:hover {
    -moz-transition: all .35s ease-in;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    background-color: rgba(150, 140, 131, 0.5);
    transition: background-color .35s ease-in-out;
}

.teaser-with-background-image .teaser-overlay:hover::before { border-bottom: 30px solid white; }

.teaser-with-background-image .teaser-overlay::before {
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    border-bottom: 30px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    content: "";
    left: -moz-calc(50% - 15px);
    left: -webkit-calc(50% - 15px);
    left: -o-calc(50% - 15px);
    left: calc(50% - 15px);
    position: absolute;
    top: 153px;
    transition: all .35s ease-in-out;
}

.teaser-caption {
    color: white;
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
}

.teaser-with-background-image:hover * {
    opacity: 1;
    visibility: visible;
}

.teaser-with-background-image .teaser-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 22pt;
    font-weight: 600;
    text-transform: uppercase;
}

.teaser-with-background-image .teaser-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}

.teaser-as-list h1 {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 36pt;
    font-weight: 100;
}

.teaser-as-list h2 {
    font-size: 30pt;
    margin: 0;
}

.teaser-as-list p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 24pt;
}

.container .layout-block-toggle { padding: 30px 0 40px; }

.container .layout-block-toggle * {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35.8px;
    width: 50px;
}

.container .layout-block-toggle .collapsed { background-image: url('../img/open_fe5000_50px-01.svg'); }

.container .layout-block-toggle > :not(.collapsed) { background-image: url('../img/lukk_968c83_50px-01-01.svg'); }

.editorialblock img {
    height: auto;
    max-width: 100%;
}

.container-footer .editorialblock img {
    height: auto;
    max-width: 180px;
}

.container-footer hr { border-top: 1.5px solid #968c83; }

.container-footer .block { padding-bottom: 22px; }

.container-footer .block::after {
    border-bottom: solid #fe5000 2px;
    bottom: -14px;
    content: "";
    left: 15px;
    margin-bottom: 14px;
    position: absolute;
    width: 50px;
}

.container .to-top,
.container .to-top:active {
    background-color: transparent;
    background-image: url('../img/totop_3867c8_75px-01.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 36.131px;
    margin: 0 auto;
    width: 75px;
}

.to-top-container { text-align: center; }

.standard-page-main-content-area .listblock h2 {
    color: #403a60;
    font-family: 'Raleway', sans-serif;
    font-size: 40pt;
    font-weight: 300;
}

.standard-page-main-content-area .listblock .last-changed-date {
    color: #968c83;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    padding: 0;
}

.standard-page-main-content-area p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 22pt;
}

.standard-page-main-content-area .listblock ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.standard-page-main-content-area .listblock ul * { display: inline-block; }

.standard-page-main-content-area .listblock li { margin: 0 0 30px 0; }

.standard-page-main-content-area .listblock a { display: block; }

.standard-page-main-content-area .listblock h3,
.standard-page-main-content-area .listblock a {
    color: #3867c8;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    font-weight: 300;
    margin: 0;
}

.standard-page-main-content-area .formblock hr,
.standard-page-main-content-area .listblock hr {
    border: 0;
    border-top: 1px solid #414042;
    margin: 20px 0 30px 0;
}

.standard-page-main-content-area .formblock hr { margin: 20px 0 0 0; }

.standard-page-main-content-area .formblock form table { width: 100%; }

.standard-page-main-content-area .formblock form span {
    color: #000000;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 10px;
}

.standard-page-main-content-area .formblock form .field-validation-valid { margin: 0; }

.standard-page-main-content-area .formblock form tr {
    display: block;
    margin-top: 45px;
}

.standard-page-main-content-area .formblock form tr.submit { margin-top: 30px; }

.standard-page-main-content-area .formblock form textarea {
    border: 1px solid #968c83;
    height: 180px;
    width: 100%;
}

.standard-page-main-content-area .formblock form tr > td { display: block; }

.standard-page-main-content-area .formblock form tr > td > label {
    display: inline;
    font-weight: inherit;
}

.standard-page-main-content-area .formblock form tr > td > input[type="text"] {
    background-color: #f4f3f2;
    border: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: 400;
    min-height: 60px;
    padding: 15px 25px;
    width: 100%;
}

.standard-page-main-content-area .formblock form tr > td > fieldset > legend {
    border-bottom: 0;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 0;
}

.standard-page-main-content-area .formblock form tr > td > fieldset > div > label > input[type="checkbox"] {
    background-color: #fff;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 21px;
    line-height: 19px;
    padding-left: 30px;
    position: relative;
    text-align: center;
    text-indent: -20px;
    top: 2px;
    width: 21px;
}

.standard-page-main-content-area .formblock form tr > td > div > input[type="submit"] {
    background-color: #7da1c4;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 15px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 190px;
}

iframe { width: 100% !important; }

@media (max-width: 768px) {
    iframe { height: auto !important; }
}

@media (min-width: 768px) {
    .container h1 {
        font-size: 65pt;
        padding-top: 56px;
        word-wrap: normal;
    }

    .container h2 {
        font-size: 40pt;
        word-wrap: normal;
    }

    .container h3 {
        font-size: 30pt;
        word-wrap: normal;
    }

    .start-page-container .start-page-ingress { font-size: 20pt; }

    .start-page-container .start-page-read-more a { font-size: 20pt; }

    .start-page-container .start-page-separator-lg {
        margin: 0 auto 30px auto;
        padding-top: 30px;
        width: 150px;
    }

    .start-page-heading { padding-top: 10px; }

    .start-page-head {
        background-color: transparent;
        padding: 0;
    }

    .start-page-main-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
    }

    .container-breadcrumbs { display: block; }

    .separator-lg {
        border-bottom: solid #fe5000 5px;
        margin-bottom: 20px;
        padding-top: 20px;
        width: 100px;
    }

    .ingress { font-size: 20pt; }

    article p { line-height: 22pt; }

    article h2 { margin-bottom: 30px; }

    article h3 { margin-bottom: 30px; }

    article h2:after {
        margin-bottom: 10px;
        padding-top: 73.333px;
        width: 100px;
    }

    article h3:after {
        margin-bottom: 10px;
        padding-top: 50px;
        width: 50px;
    }

    article ul li,
    article ol li,
    aside ul li,
    .container-footer ul li { line-height: 22pt; }

    article .body-text { padding-top: 20px; }

    article a,
    article a:hover { line-height: 22pt; }

    aside { padding-top: 0; }

    /*.container aside div div { padding: 0 15px; }*/

    aside ul li a,
    aside ul li a:hover { line-height: 22pt; }

    footer { border-top: solid 1px #968c83; }

    .container-footer .editorialblock img { width: initial; }

    .layoutblock { padding-top: 60px; }

    .teaser h2 { font-size: 40pt; }

    .teaser .separator-teaser,
    .teaser-as-list .separator-teaser {
        margin: 0 auto 20px auto;
        padding-top: 23px;
        width: 100px;
    }

    .teaser-as-list p { font-size: 20pt; }

    .teaser-as-list h1 {
        font-size: 65pt;
        padding-top: 60px;
    }

    .teaser p,
    .teaser p + div { font-size: 20pt; }

    .layout .main-content-area { display: block; }

    .layout-block-toggle { display: none; }

    .teaser-as-list h2 {
        font-size: 40pt;
        margin-top: 12.5px;
    }

    .to-top-container { display: none; }

    .container-footer .block::after { border-bottom: none; }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .hexagon {
        background-size: auto 338.7060px;
        height: 169.35px;
        margin: 84.68px 0;
        width: 293.328px;
    }

    .hexTop,
    .hexBottom {
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        height: 207.41px;
        left: 42.96px;
        transform: scaleY(0.5774) rotate(-45deg);
        width: 207.41px;
    }

    .hexTop:after,
    .hexBottom:after {
        -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-84.6765px);
        -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-84.6765px);
        height: 169.35299976085454px;
        transform: rotate(45deg) scaleY(1.7321) translateY(-84.6765px);
        width: 293.3280px;
    }

    .hexTop { top: -103.7071px; }

    .hexBottom { bottom: -103.7071px; }

    .hexagon:after {
        height: 169.3530px;
        width: 293.3280px;
    }

    .hexagon-info {
        height: 84.68px;
        width: 146.664px;
    }

    .hexagon-info-before,
    .hexagon-info-after {
        border-left: 73.332px solid transparent;
        border-right: 73.332px solid transparent;
    }

    .hexagon-info-before { border-bottom-width: 42.34px; }

    .hexagon-info-after { border-top-width: 42.34px; }
}

@media (min-width: 992px) {
    .teaser-with-icon .teaser-heading {
        font-size: 20pt;
        line-height: 25pt;
    }

    aside .hexagonblock { display: block; }
}