.table-border-bottom {
    border-bottom: 1px solid #ccc;
}

.resultItemRowList {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}


.btn-table-row-list .table-btn-container {
    width: 100%;
}

@media (min-width: 500px) {
    .btn-table-row-list .table-btn-container {
        width: 33.333%;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .btn-table-row-list .table-btn-container {
        width: auto;
        display: inline-block;
    }
}

.table-row-icon {
    font-size: 22px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}


.resultItemRowTableHeaderListView {
}

    .resultItemRowTableHeaderListView > div {
        height: 45px;
    }

        .resultItemRowTableHeaderListView > div p {
            position: absolute;
            bottom: 0;
        }

.resultItemRowGallery {
    margin: 15px -15px 10px -15px;
}

.resultItemRow {
    padding: 8px 0;
}


.resultItemRowTitle span {
    display: inline-block;
}


.expand-arrow,
.facet-filter .indicator {
    cursor: pointer;
}

.search-result-navigation .save-as-menu .save-as-dropdown .custom-select {
    width: 186px;
}

.teaser-with-background-image .teaser-heading {
    font-size: 14pt;
}





/* 'Save as' select */
.save-as-menu .save-as-dropdown .custom-select {
    width: 185px;
}


.input-group .input-group-addon.btn {
    line-height: 12pt;
}


.articles-list-item {
    padding: 16px 0;
}

    .articles-list-item .title {
        font-size: 18px;
        margin: 0;
    }

    .articles-list-item .intro {
    }



@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../Content/fonts/glyphicons-halflings-regular.eot');
    src: url('../../Content/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../Content/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../Content/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../Content/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
