@using Kartverket.Metadatakatalog.Helpers
<div class="modal-dialog" id="norgeskartmodal">
    <div class="modal-content">
        <div id="viewer" role="main" style="height:100%">
            <div id="container"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button><button id="setcoordinates" onclick="setCoordinates();" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
        </div>

    </div>
</div>
<script>
    var CLIPPERCOORDS;
    var fixedCoordinates = false;
    var areatype = "";
    var mapSelectionLayer = "";


  function sendMessage(msg) {
    var win = document.getElementById("iframe").contentWindow;
    win.postMessage(JSON.stringify(msg), '*');
  }


    function loadMap(id, fixed, typeOfArea, mapselectionlayer) {

        if (fixed)
        {
            fixedCoordinates = true;
            areatype = typeOfArea;
            mapSelectionLayer = mapselectionlayer;
            loadMapFixed(id);
            return;
        }

        fixedCoordinates = false;

        var coverageParams = "";
        $.ajax({
            url: '/api/getdata/' + id + '',
            type: "GET",
            async: false,
            success: function (result) {
                coverageParams = result.CoverageUrl;
                if (typeof coverageParams == 'undefined')
                    coverageParams = '';
            }
        });

        conf = {
            center_latitude: "7226208",
            center_longitude: "378604",
            grid_folder: "/sites/all/modules/custom/kms_widget/grid/",
            koordinatsystem: "UTM32-EUREF89",
            selection_type: "3525",
            service_name: "fylker-utm32",
            zoom_level: "4",
        };

        window.addEventListener('message', function (e) {
            console.log(e.data);
            var msg = JSON.parse(e.data);
            if (msg.type === "mapInitialized") {
                sendMessage({
                    "cmd": "setCenter",
                    "x": conf.center_longitude,
                    "y": conf.center_latitude,
                    "zoom": conf.zoom_level
                });
            } else {

                if (msg.cmd === "setVisible") return;
                var obj = msg;
                var reslist = document.getElementById('result');
                if (obj.feature != null) {
                    CLIPPERCOORDS = obj.feature.geometry.coordinates.toString();
                    CLIPPERCOORDS = CLIPPERCOORDS.replace(/,/g, " ");
                    console.log(CLIPPERCOORDS);
                }
            }
            console.log(e.data);
        }, false);

        $("#container").html("<iframe src='@Html.SecureNorgeskartUrl()select.html" + coverageParams + "' id='iframe' name='iframe'></iframe>");

    };

    var areas = {};

    function loadMapFixed(metadataUuid) {

        conf = { "service_name": mapSelectionLayer, "center_longitude": "378604", "center_latitude": "7226208", "zoom_level": "3" }

        window.addEventListener('message', function (e) {
            console.log(e.data);
            var msg = JSON.parse(e.data);
            if (msg.type === "mapInitialized") {
                sendMessage({
                    "cmd": "setCenter",
                    "x": conf.center_longitude,
                    "y": conf.center_latitude,
                    "zoom": conf.zoom_level
                });
                sendMessage({
                    "cmd": "setVisible",
                    "id": conf.service_name
                });
            } else {
                console.log(msg);
                if (msg.cmd === "setVisible") return;
                var obj = msg;
                var reslist = document.getElementById('result');
                if (isJson(msg)){
                    var data = JSON.parse(msg);
                    if (data["type"] == "mapInitialized") return;

                    var name = data["attributes"]["n"];
                    var areaname;
                    areaname = name;

                    var path = areaname;

                    if (data["cmd"] == "featureSelected") {
                        areas[path] = areaname;
                    }
                    if (data["cmd"] == "featureUnselected") {
                        delete areas[path];
                    }
                }
            }
            console.log(e.data);
        }, false);

        $("#container").html("<iframe src='@Html.SecureNorgeskartUrl()nedlasting.html#" + conf.zoom_level + "/" + conf.center_longitude + "/" + conf.center_latitude + "/+" + conf.service_name + "' id='iframe' name='iframe'></iframe>");

    }

    function isJson(str) {
        try {
            JSON.parse(str);
        } catch (e) {
            return false;
        }
        return true;
    }

    function setCoordinates() {

        uuid = $('#setcoordinates').attr('uuid');

        if (fixedCoordinates)
        {
            var orderItemSelectOmraader = $('#orderuuid' + uuid + ' .selectOmraader');

            orderItemSelectOmraader.find("option").prop("selected", false)

            orderItemSelectOmraader = $('#orderuuid' + uuid + ' .selectOmraader');

            for (var key in areas) {
                val = areatype + "_" + key;
                orderItemSelectOmraader.find("option[value=" + val + "]").prop("selected", "selected");
            }

            orderItemSelectOmraader.trigger("chosen:updated");

            var orderItems = JSON.parse(localStorage["orderItems"]);
            setSelectedValues(orderItems, 'selectProjeksjoner', 'projections');
            setSelectedValues(orderItems, 'selectFormater', 'formats');
            setSelectedValues(orderItems, 'selectOmraader', 'areas');

            areas = {}

        }
        else
        {
        localStorage[uuid + '.selected.coordinates'] = CLIPPERCOORDS;
        getSelectedCoordinates(uuid, 'coordinates', 'coordinates');

        var supportsProjectionSelection = (localStorage.getItem(uuid + '.capabilities.supportsProjectionSelection') === "true");
        var supportsFormatSelection = (localStorage.getItem(uuid + '.capabilities.supportsFormatSelection') === "true");

        var orderItemSelectProjeksjoner = $('#orderuuid' + uuid + ' .selectProjeksjoner');
        orderItemSelectProjeksjoner.attr('name', uuid + '-projection');
        orderItemSelectProjeksjoner.empty();
        populateProjectionList(uuid, supportsProjectionSelection);

        orderItemSelectProjeksjoner.trigger("chosen:updated");
        var orderItemSelectFormater = $('#orderuuid' + uuid + ' .selectFormater');
        orderItemSelectFormater.attr('name', uuid + '-formats');
        orderItemSelectFormater.empty();
        populateFormatList(uuid, supportsFormatSelection);
        orderItemSelectProjeksjoner.attr("disabled", false);
        orderItemSelectProjeksjoner.trigger("chosen:updated");
        orderItemSelectFormater.attr("disabled", false);
        orderItemSelectFormater.trigger("chosen:updated");

        }

    }

    function resizeIframe(iframe) {
        var windowHeight = $(window).height();
        var iframeHeight = windowHeight - 125;
        iframe.height(iframeHeight);
    }

    // Lagre selected verdier i localStorage
    function setSelectedValues(orderItems, selectClass, name) {
        $.each(orderItems, function (key, val) {
            var select = $('#orderuuid' + val).find('.' + selectClass);
            var uuid = val;
            $.each(select, function (key, val) {
                var selectedValues = [];
                var option = $(this).find('option:selected');
                var selectedCount = $(this).find('option:selected').length;
                if (selectedCount > 0) {
                    var formgroup = $(this).parent('.form-group');
                    formgroup.find('.chosen-choices').removeClass('has-error');
                }
                option.each(function (i, selected) {
                    selectedValues[i] = $(selected).val();
                });
                localStorage[uuid + '.selected.' + name] = JSON.stringify(selectedValues);
            });
        });
    }
</script>

