@using Kartverket.Metadatakatalog.Helpers
<script type="text/javascript" src="~/Scripts/easyXDM.js"></script>

<div class="modal-dialog" id="norgeskartmodal">
    <div class="modal-content">
        <div id="viewer" role="main" style="height:100%">
            <div id="container"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button><button id="setcoordinates" onclick="setCoordinates();" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
        </div>

    </div>
</div>
<script>
    var CLIPPERCOORDS;
    function loadMap(id) {
        var coverageParams = "";
        $.ajax({
            url: '/api/getdata/' + id + '',
            type: "GET",
            async: false,
            success: function (result) {
                coverageParams = result.CoverageUrl;
                if (typeof coverageParams == 'undefined')
                    coverageParams = '';
            }
        });
        var socket = new easyXDM.Socket({
            remote: "@Html.SecureNorgeskartUrl()select.html" + coverageParams,
            onMessage: function (message, origin) {
                var reslist = document.getElementById('result');
                var obj = $.parseJSON(message);
                if (obj.feature != null) {
                    CLIPPERCOORDS = obj.feature.geometry.coordinates.toString();
                    CLIPPERCOORDS = CLIPPERCOORDS.replace(/,/g, " ");
                }
            },
            container: document.getElementById("container"),
            onReady: function () {
                this.container.getElementsByTagName("iframe")[0].style.width = "100%";
            }
        });
    };

    function setCoordinates() {
        uuid = $('#setcoordinates').attr('uuid');
        localStorage[uuid + '.selected.coordinates'] = CLIPPERCOORDS;
        getSelectedCoordinates(uuid, 'coordinates', 'coordinates');
        localStorage[uuid + '.selected.areas'] = '[]';

        var supportsProjectionSelection = (localStorage.getItem(uuid + '.capabilities.supportsProjectionSelection') === "true");
        var supportsFormatSelection = (localStorage.getItem(uuid + '.capabilities.supportsFormatSelection') === "true");

        var orderItemSelectProjeksjoner = $('#orderuuid' + uuid + ' .selectProjeksjoner');
        orderItemSelectProjeksjoner.attr('name', uuid + '-projection');
        orderItemSelectProjeksjoner.empty();
        populateProjectionList(uuid, supportsProjectionSelection);

        orderItemSelectProjeksjoner.trigger("chosen:updated");
        var orderItemSelectFormater = $('#orderuuid' + uuid + ' .selectFormater');
        orderItemSelectFormater.attr('name', uuid + '-formats');
        orderItemSelectFormater.empty();
        populateFormatList(uuid, supportsFormatSelection);
        orderItemSelectProjeksjoner.attr("disabled", false);
        orderItemSelectProjeksjoner.trigger("chosen:updated");
        orderItemSelectFormater.attr("disabled", false);
        orderItemSelectFormater.trigger("chosen:updated");

    }

    function resizeIframe(iframe) {
        var windowHeight = $(window).height();
        var iframeHeight = windowHeight - 125;
        iframe.height(iframeHeight);
    }

    /*$(window).load(function () {
        var iframe = $('#viewer iframe');
        resizeIframe(iframe);
        window.onresize = function (event) {
            resizeIframe(iframe);
        };
    });

*/
</script>

