@using Kartverket.Metadatakatalog.Helpers
<script type="text/javascript" src="~/Scripts/easyXDM.js"></script>

<div class="modal-dialog" id="norgeskartmodal" style="width: 85%;">
    <div class="modal-content">
        <div id="viewer" role="main" style="height:100%">
            <div id="container"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button><button id="setcoordinates" onclick="setCoordinates();" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
        </div>

    </div>
</div>
<script>
    var CLIPPERCOORDS;
    $(document).ready(function () {
        var socket = new easyXDM.Socket({
            remote: "@Html.NorgeskartUrl()select.html",
            onMessage: function (message, origin) {
                var reslist = document.getElementById('result');
                var obj = $.parseJSON(message);
                if (obj.feature != null) {
                    CLIPPERCOORDS = obj.feature.geometry.coordinates.toString();
                    CLIPPERCOORDS = CLIPPERCOORDS.replace(/,/g, " ");
                }
            },
            container: document.getElementById("container"),
            onReady: function () {
                this.container.getElementsByTagName("iframe")[0].style.width = "100%";
            }
        });
    });

    function setCoordinates() {
        uuid = $('#setcoordinates').attr('uuid');
        localStorage[uuid + '.selected.coordinates'] = CLIPPERCOORDS;
        getSelectedCoordinates(uuid, 'coordinates', 'coordinates');
        localStorage[uuid + '.selected.areas'] = '[]';
    }

    function resizeIframe(iframe) {
        var windowHeight = $(window).height();
        var iframeHeight = windowHeight - 125;
        iframe.height(iframeHeight);
    }

    $(window).load(function () {
        var iframe = $('#viewer iframe');
        resizeIframe(iframe);
        window.onresize = function (event) {
            resizeIframe(iframe);
        };
    });


</script>

