@using Kartverket.Metadatakatalog.Helpers
<script type="text/javascript" src="~/Scripts/easyXDM.js"></script>

<div class="modal-dialog" id="norgeskartmodal" style="width: 75%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Norgeskart</h4>
            <div style="right: 5px; top: 5px; position:absolute;"><button id="setcoordinates" onclick="setCoordinates();" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button> <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button></div>
        </div>
        <div class="modal-body">
            <div id="viewer" role="main" style="height:100%">
                <div id="container"></div>
                <p id="result"></p>
            </div>
        </div>
    </div>
</div>
<script>
    var CLIPPERCOORDS;
    $(document).ready(function () {
        var socket = new easyXDM.Socket({
            remote: "@Html.NorgeskartUrl()select.html",
            onMessage: function (message, origin) {
                var reslist = document.getElementById('result');
                reslist.innerHTML = message + "<br/>" + reslist.innerHTML;
                var obj = $.parseJSON(message);
                if (obj.feature != null) {
                    CLIPPERCOORDS = obj.feature.geometry.coordinates.toString();
                    CLIPPERCOORDS = CLIPPERCOORDS.replace(/,/g, " ");
                }
            },
            container: document.getElementById("container"),
            onReady: function () {
                this.container.getElementsByTagName("iframe")[0].style.height = "750px";
                this.container.getElementsByTagName("iframe")[0].style.width = "100%";
            }
        });
    });

    function setCoordinates() {
        uuid = $('#setcoordinates').attr('uuid');
        localStorage[uuid + '.selected.coordinates'] = CLIPPERCOORDS;
        getSelectedCoordinates(uuid, 'coordinates', 'coordinates');
        localStorage[uuid + '.selected.areas'] = '[]';
    }

</script>

