<div class="list-group-item orderItem">
    <div class="row">
        <div class="col-md-1 list-icon">
            <img src="http://forskning.no/sites/forskning.no/files/kartverket_None.jpg" />
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-12">
                    <a href="metadata/kartverket/norges-maritime-grenser/e106adf4-c9d8-4fce-a9b5-7886a4126d23" class="list-heading">
                        Norges maritime grenser
                    </a>
                    <a data-toggle="tooltip" data-placement="bottom" title="Slett datasett" class="list-btn-remove"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="">Projeksjon:</label>
                    <div class="form-group">

                        <select data-placeholder="Klikk for å velge projeksjon" multiple class="chosen-select form-control" tabindex="18" id="multiple-label-example">
                            <option value=""></option>
                            <optgroup label="ETRS">
                                <option>ETRS89</option>
                            </optgroup>
                            <optgroup label="UTM">
                                <option selected>UTM32N</option>
                                <option selected>UTM33N</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Filformat:</label>
                    <div class="form-group">
                        <select data-placeholder="Klikk for å velge filformat" multiple class="chosen-select form-control" tabindex="18" id="multiple-label-example">
                            <option value=""></option>
                            <optgroup label="SOSI">
                                <option>SOSI 4.0</option>
                                <option>SOSI 4.5</option>
                            </optgroup>
                            <optgroup label="GML">
                                <option selected>GML 3.1</option>
                                <option selected>GML 3.2.1</option>
                            </optgroup>
                            <option>SHAPE</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Område:</label>
                    <div class="form-group">
                        <div class="input-group chosen-input-group">
                            <select data-placeholder="Klikk for å velge område" multiple class="chosen-select form-control" tabindex="18" id="multiple-label-example">
                                <option value=""></option>
                                <option selected>Hele landet</option>
                                <optgroup label="Telemark">
                                    <option>Bø i Telemark</option>
                                    <option>Sauherad</option>
                                </optgroup>
                            </select>
                            <span class="input-group-btn" data-toggle="modal" data-target="#kartModal">
                                <button data-placement="bottom" title="Velg fra kart" data-toggle="tooltip" class="btn btn-default btn-nodivider btn-fullheight" type="button"><span class="glyphicon glyphicon-globe"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
