<div class="row">
    <div class="col-md-11">
        <h2><a href="" class="list-heading order-title"></a></h2>
        <a data-toggle="tooltip" data-placement="bottom" title="Slett datasett" class="list-btn-remove remove-item"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
    <div class="col-md-1 list-icon">
        <img class="order-img" src="" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <p>Område:</p>
                <div class="form-group">
                    <div class="input-group chosen-input-group input-group-omraade">
                        <select data-placeholder="Klikk for å velge område" multiple class="chosen-select form-control selectOmraader" tabindex="18" required>
                        </select>
                        <span class="input-group-btn selectPolygon" data-toggle="modal" data-target="#kartModal">
                            <button data-placement="bottom" uuid="" title="Velg fra kart" data-toggle="tooltip" class="btn btn-nodivider btn-fullheight selectPolygon-button" type="button"><span class="glyphicon glyphicon-globe"></span></button>
                        </span>
                    </div>
                    <input class="coordinates" type="hidden" />
                    <input class="order-url" type="hidden" />
                </div>
            </div>
            <div class="col-md-4">
                <p>Projeksjon:</p>
                <div class="form-group custom-select">

                    <select data-placeholder="Klikk for å velge projeksjon" multiple class="chosen-select form-control selectProjeksjoner" tabindex="18" required></select>
                </div>
            </div>
            <div class="col-md-4">
                <p>Filformat:</p>
                <div class="form-group custom-select">
                    <select data-placeholder="Klikk for å velge format" multiple class="chosen-select form-control selectFormater" tabindex="18" required></select>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
