@using Newtonsoft.Json

@{
    ViewBag.Title = "Nedlasting - Min kurv";
}
@section breadcrumb {
    <li class="active">Min kurv</li>
}
<div id="feedback-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>

<div id="vueContainer">
    <section class="heading">
        <div class="row">
            <div class="col-sm-12">
                <h1 v-show="orderItems.length && !orderResponse.length">Min kurv</h1>
                <h1 v-show="orderResponse.length"></h1>
            </div>
            <div class="col-sm-12">
                <span class="separator-lg"></span>
            </div>
        </div>
    </section>

    <article id="orderlist" v-show="orderItems.length && !orderResponse.length">
        <div id="downloadformVue" class="download-form">
            <div v-for="orderItem in orderItems">
                <div class="row">
                    <div class="col-md-11">
                        <h2><a v-bind:href="orderItem.metadata.url" class="list-heading order-title">{{ orderItem.metadata.name }}</a></h2>
                        <a data-toggle="tooltip" data-placement="bottom" title="Slett datasett" v-on:click="removeOrderItem(orderItem)" class="list-btn-remove remove-item"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="col-md-1 list-icon">
                        <img class="order-img" v-bind:src="orderItem.metadata.organizationLogoUrl" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Område:</p>
                        <div class="input-group chosen-input-group custom-select input-group-omraade">
                            <select class="chosen-select area-list"
                                    v-chosen="orderItem.codelists.areas"
                                    v-bind:parent="orderItem"
                                    v-bind:uuid="orderItem.metadata.uuid"
                                    v-bind:name="orderItem.metadata.uuid + 'areas'"
                                    v-bind:id="orderItem.metadata.uuid + 'areas'"
                                    listname="area"
                                    data-placeholder="Klikk for å velge område"
                                    multiple>
                                <option value=""></option>
                                <optgroup v-for="areaType in orderItem.codelists.areaTypes" v-bind:label="capitalize(areaType)">
                                    <option v-if="area.type == areaType"
                                            is="areaoption"
                                            v-for="(area, index) in orderItem.codelists.areas"
                                            v-bind:data-index="index"
                                            v-bind:area="area"></option>
                                </optgroup>
                            </select>
                            <span v-if="orderItem.capabilities.supportsPolygonSelection" class="input-group-btn selectPolygon" data-toggle="modal" data-target="#kartModal">
                                <button data-placement="bottom" v-on:click="selectFromMap(orderItem)" v-bind:uuid="orderItem.uuid" title="Velg fra kart" data-toggle="tooltip" class="btn btn-nodivider btn-fullheight selectPolygon-button" type="button"><span class="glyphicon glyphicon-globe"></span></button>
                            </span>
                            <span v-if="orderItem.capabilities.supportsGridSelection" class="input-group-btn selectPolygon" data-toggle="modal" data-target="#kartModal">
                                <button data-placement="bottom" v-on:click="selectFromMap(orderItem)" v-bind:uuid="orderItem.uuid" title="Velg fra kart" data-toggle="tooltip" class="btn btn-nodivider btn-fullheight selectPolygon-button" type="button"><span class="glyphicon glyphicon-globe"></span></button>
                            </span>
                        </div>
                        <input class="coordinates" type="hidden" />
                        <input class="order-url" type="hidden" />
                    </div>

                    <div class="col-md-4">
                        <p>Projeksjon:</p>
                        <div class="help-text form-element-help-text bg-info" v-if="orderItem.capabilities.supportsProjectionSelection == false">
                            <span>Valg av projeksjon støttes ikke</span>
                        </div>
                        <div v-else>
                            <div v-show="notSelected(orderItem.codelists.areas)" class="help-text form-element-help-text bg-info"><span>Område må velges først</span></div>
                            <div v-show="notSelected(orderItem.codelists.areas) == false" class="form-group custom-select" v-bind:class="{disabled: notSelected(orderItem.codelists.areas)}">
                                <select class="chosen-select projection-list"
                                        v-chosen="orderItem.codelists.projections"
                                        v-bind:parent="orderItem"
                                        v-bind:uuid="orderItem.metadata.uuid"
                                        listname="projection"
                                        data-placeholder="Klikk for å velge projeksjon"
                                        tabindex="-1"
                                        multiple>
                                    <option value=""></option>
                                    <option is="projectionoption"
                                            v-for="(projection, index) in orderItem.codelists.projections"
                                            v-bind:disabled="!projection.available"
                                            v-bind:data-index="index"
                                            v-bind:projection="projection"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p>Filformat:</p>
                        <div class="help-text form-element-help-text bg-info" v-if="orderItem.capabilities.supportsFormatSelection == false">
                            <span>Valg av filformat støttes ikke</span>
                        </div>
                        <div v-else>
                            <div v-show="notSelected(orderItem.codelists.projections) && notSelected(orderItem.codelists.areas)" class="help-text form-element-help-text bg-info"><span>Område og projeksjon må velges først</span></div>
                            <div v-show="notSelected(orderItem.codelists.projections) && notSelected(orderItem.codelists.areas) ==  false" class="help-text form-element-help-text bg-info"><span>Projeksjon må velges først</span></div>
                            <div v-show="notSelected(orderItem.codelists.areas) == false && notSelected(orderItem.codelists.projections) == false" class="form-group custom-select" v-bind:class="{disabled: notSelected(orderItem.codelists.projections)}">
                                <select class="chosen-select format-list"
                                        v-chosen="orderItem.codelists.formats"
                                        v-bind:parent="orderItem"
                                        v-bind:uuid="orderItem.metadata.uuid"
                                        listname="format"
                                        data-placeholder="Klikk for å velge filformat"
                                        tabindex="-1"
                                        multiple>
                                    <option value=""></option>
                                    <option is="formatoption"
                                            v-for="(format, index) in orderItem.codelists.formats"
                                            v-bind:disabled="!format.available"
                                            v-bind:data-index="index"
                                            v-bind:format="format"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>



            <div class="download-form">

                <div class="row margin-bottom-10">
                    <div id="emailField" class="col-sm-6 margin-bottom-10">
                        <p class="article-p">E-post: <span class="required-indicator"></span></p>
                        <input type="text" v-model="email" name="email" class="form-control" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="pull-right">
                                <a class="btn" id="remove-all-items"><span class="glyphicon glyphicon-remove"></span> Fjern alle</a>
                                <a href="/" class="btn"><span class="glyphicon glyphicon-shopping-cart"></span> Bestill mer</a>
                                <button v-on:click="sendRequests()" class="btn"><span class="glyphicon glyphicon-save"></span> Last ned</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div id="kartModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="norgeskart" aria-hidden="true">
                    <div class="modal-dialog" id="norgeskartmodal">
                        <div class="modal-content">
                            <div id="viewer" role="main" style="height:100%">
                                <div id="container"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button><button id="setcoordinates" onclick="updateChosen();" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="remove-all-items-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Fjerning av datasett</h4>
                            </div>
                            <div class="modal-body">
                                Er du sikker på at du vil fjerne alle datasett fra kurven?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Nei</button>
                                <button type="button" v-on:click="removeAllOrderItems()" id="remove-all-items-submit" class="btn">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>

    <article id="responseList" v-show="orderResponse.length">
        <div class="row">
            <div class="col-md-12">
                <div v-for="responseItem in orderResponse">
                    <p>Referansenummer: {{ responseItem.data.referenceNumber }}</p>
                    <div class="list-group download-list">
                        <div v-if="file.status == 'ReadyForDownload'" v-for="file in responseItem.data.files" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 col-md-7">
                                    <a v-bind:href="file.downloadUrl" data-toggle="tooltip" data-placement="bottom" v-bind:title="file.name">
                                        <span class="custom-icon custom-icon-lastned"></span>
                                        <span class="download-list-item-name">
                                            {{ file.metadataName }}, <span class="inline-block">{{ file.areaName }}</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <span class="label label-success auto-width">{{file.projectionName}}</span>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="label label-info">{{file.format}}</span>
                                </div>
                            </div>
                        </div>
                        <div v-if="file.status == 'WaitingForProcessing'" v-for="file in responseItem.data.files" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 col-md-7">
                                    <span class="custom-icon custom-icon-info"></span>
                                    <span class="download-list-item-name">
                                        {{ file.metadataName }}, <span class="inline-block">Valgt fra kart</span> <small class="inline-block">(Under behandling)</small>
                                    </span>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <span class="label label-success auto-width">{{ file.projectionName }}</span>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="label label-info">{{file.format}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<script type="text/javascript" src="~/Scripts/vue-download.js"></script>
@Html.Partial("_Norgeskart")
