@{
    ViewBag.Title = "Index";
}

<h2>Min handlekurv</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><h3 class="panel-title">Projeksjon:</h3></div>
            <div class="col-md-3"><h3 class="panel-title">Filformat:</h3></div>
            <div class="col-md-3"><h3 class="panel-title">Område:</h3></div>
        </div>


    </div>
    <div class="list-group">
        @for (int i = 0; i < 7; i++) { 
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-2">Norges maritime grenser</div>
                <div class="col-md-3">
                    <select data-placeholder="Projeksjon" multiple class="chosen-select form-control" tabindex="18" id="multiple-label-example">
                        <option value=""></option>
                        <optgroup label="ETRS">
                            <option>ETRS89</option>
                        </optgroup>
                        <optgroup label="UTM">
                            <option selected>UTM32N</option>
                            <option selected>UTM33N</option>
                        </optgroup>

                    </select>
                </div>
                <div class="col-md-3">
                    <select data-placeholder="Filformat" multiple class="chosen-select form-control" tabindex="18" id="multiple-label-example">
                        <option value=""></option>
                        <optgroup label="SOSI">
                            <option>SOSI 4.0</option>
                            <option>SOSI 4.5</option>
                        </optgroup>
                        <optgroup label="GML">
                            <option selected>GML 3.1</option>
                            <option selected>GML 3.2.1</option>
                        </optgroup>
                        <option>SHAPE</option>

                    </select>
                </div>
                <div class="col-md-3">
                    <select data-placeholder="Område" multiple class="chosen-select form-control" tabindex="18" id="multiple-label-example">
                        <option value=""></option>
                        <option selected>Hele landet</option>
                        <optgroup label="Telemark">
                            <option>Bø i Telemark</option>
                            <option>Gvarv</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-default">Avbryt</button>
            <button class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Last ned</button>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen();
            $("select").chosen();
        });



    </script>
}
