@using Newtonsoft.Json

@{
    ViewBag.Title = "Index";
}

<h1></h1>
<div class="page-header">
    <h3 class="h-md">Min handlekurv</h3>
    <hr>
</div>

<div class="panel panel-default">

    <div class="list-group" id="orderlist"></div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="pull-right">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Handle mer</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="pull-right">
                <button class="btn btn-default">Avbryt</button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Last ned</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="kartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Områdevelger</h4>
            </div>
            <div class="modal-body">
                <iframe longdesc="" title="" src="http://www.norgeskart.no/dynamisk-med-navigasjon.html#6/166195/6636879/+embed.box" width="100%" height="424"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <button type="button" class="btn btn-primary">Legg til område</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script>
        $(document).ready(function () {

            $("select").chosen();

            // Midlertidig seeding av dataset i localStorage
            var orderItems = []
            orderItems.push("75461f65-eaea-4495-b2ab-3bc04d261669");
            /*   orderItems.push("aee42bb6-d0e9-4d70-86fe-6ea76c381055");
               orderItems.push("ea192681-d039-42ec-b1bc-f3ce04c189ac");
               orderItems.push("442cae64-b447-478d-b384-545bc1d9ab48");
               orderItems.push("58e0dbf8-0d47-47c8-8086-107a3fa2dfa4");*/
            if (Modernizr.localstorage) {
                console.log('window.localStorage is available!');
                localStorage["orderItems"] = JSON.stringify(orderItems);

            } else {
                console.log('no native support for HTML5 storage :(');
            }


            function getJsonObjects(data, segment, uuid) {
                if (segment == null) segment = '';
                var val;
                var localStorageKey;
                var items = []
                $.each(data, function (key, val) {
                    if (segment != '' && segment != null) {
                        localStorageKey = uuid + segment + key;
                    } else {
                        localStorageKey = uuid + key;
                    }

                    if (typeof val == 'object') {

                        $.each($(this), function (key, val) {
                            items.push(val);
                        });

                    } else {
                        localStorage[localStorageKey] = val;
                    }
                });
                if (items.length > 0) {
                    localStorageKey = uuid + segment;
                    localStorage[localStorageKey] = JSON.stringify(items);
                }
            }

            function getJsonData(baseuri, segments, uuid) {
                segmentUri = '/';
                segmentString = '.';
                $.each(segments, function (pos, segment) {
                    segmentUri += segment + '/';
                    segmentString += segment + '.';
                });
                $.getJSON('http://download.dev.geonorge.no/' + baseuri + segmentUri + uuid,
                    {
                        json: 'true'
                    },
                    function (data) {
                        getJsonObjects(data, segmentString, uuid);
                    });
            }

            var storedOrderItems = JSON.parse(localStorage["orderItems"]);

            //Kommenter ut blokken nedefor

            /*    $.each(storedOrderItems, function (key, val) { //TODO
                    getJsonData('api', ['capabilities'], val);
                   // getJsonData('api', ['codelists', 'projection'], val);
                   // getJsonData('api', ['codelists', 'area'], val);
                   // getJsonData('api', ['codelists', 'format'], val);
                });
            */

        });




        $(document).ready(function () {

            // Inkludering av OrderItem partial view
            var content = '@Html.Raw((Html.Partial("_OrderItem").ToString().Replace(Environment.NewLine, "")))';
            orderItems = (JSON.parse(localStorage.getItem('orderItems')));
            $.each(orderItems, function (key, val) {
                $("#orderlist").append('<div id="orderuuid' + val + '">' + content + '</div>');

            });
        });

        $(document).ready(function () {
            $(".chosen-select").chosen();
        });


    </script>
}
