@using Newtonsoft.Json

@{
    ViewBag.Title = "Nedlasting - Min kurv";
}
@section breadcrumb {
    <li class="active">Min kurv</li>
}
<div id="feedback-alert" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="message"></span>
</div>

<!-- Area select -->
<script type="text/x-template" id="areas-template">
    <div class="custom-select-list">
        <div class="custom-select-list-input-container">
            <span v-for="area in selected" v-if="master || area.isLocalSelected" class="custom-select-list-selected">
                {{ area.name }}
                <span v-if="!area.hasSelectedProjections" data-toggle="tooltip" data-placement="bottom" title="Støttet projeksjon er ikke valgt" class="projection-warning-icon"></span>
                <span v-if="!area.hasSelectedFormats" data-toggle="tooltip" data-placement="bottom" title="Støttet format er ikke valgt" class="format-warning-icon"></span>
                <span v-on:click="removeSelectedArea(area)" class="custom-select-list-remove-button"></span>
            </span>
            <input v-on:keyup="$parent.filterOptionList('area-option-list', $event.target.value)" type="text" class="custom-select-list-input" />
        </div>
        <div class="custom-select-list-dropdown">
            <div class="custom-select-list-dropdown-content">
                <div v-for="(areas, areaType) in available" class="custom-select-list-option-group">
                    <div v-if="!master || $root.isSupportedType(areaType)" v-show="areas.length">
                        <p class="custom-select-list-option-group-name">{{ areaType }}</p>
                        <ul class="custom-select-list-options area-option-list">
                            <li v-on:click="selectArea(area)" v-bind:class="{'is-selected': area.isLocalSelected}" v-for="area in areas">{{ area.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="custom-select-list-dropdown-additional-options">
                <a v-show="this.supportsPolygonSelection" class="btn" v-on:click="$root.selectFromMap($parent)" title="Velg polygon fra kart" data-toggle="tooltip" data-placement="bottom" v-bind:class="{disabled: !this.supportsPolygonSelection}"><span class="glyphicon glyphicon-globe"></span> Velg fra kart</a>
                <a v-show="this.supportsGridSelection" class="btn" v-on:click="$root.selectFromMap($parent)" title="Velg kartblad fra kart" data-toggle="tooltip" data-placement="bottom" v-bind:class="{disabled: !this.supportsGridSelection}"><span class="fa fa-map"></span> Velg fra kartblad</a>
            </div>
        </div>
    </div>
</script>


<!-- Projection select -->
<script type="text/x-template" id="projections-template">
    <div class="custom-select-list">
        <div class="custom-select-list-input-container">
            <span v-for="projection in selected" v-if="master || projection.isLocalSelected" class="custom-select-list-selected">
                {{ projection.name }}
                <span v-on:click="removeSelectedProjection(projection)" class="custom-select-list-remove-button"></span>
            </span>
            <input v-on:keyup="$parent.filterOptionList('projection-option-list', $event.target.value)" type="text" class="custom-select-list-input" />
        </div>
        <div class="custom-select-list-dropdown">
            <ul class="custom-select-list-options projection-option-list">
                <li v-on:click="selectProjection(projection)" v-bind:class="{'is-selected': projection.isLocalSelected}" v-for="(projection, projectionCode) in available">{{ projection.name }}</li>
            </ul>
        </div>
    </div>
</script>


<!-- Format select -->
<script type="text/x-template" id="formats-template">
    <div class="custom-select-list">
        <div class="custom-select-list-input-container">
            <span v-for="format in selected" v-if="master || format.isLocalSelected" class="custom-select-list-selected">
                {{ format.name }}
                <span v-on:click="removeSelectedFormat(format)" class="custom-select-list-remove-button"></span>
            </span>
            <input v-on:keyup="$parent.filterOptionList('format-option-list', $event.target.value)" type="text" class="custom-select-list-input" />
        </div>
        <div class="custom-select-list-dropdown">
            <ul class="custom-select-list-options format-option-list">
                <li v-on:click="selectFormat(format)" v-bind:class="{'is-selected': format.isLocalSelected}" v-for="(format, formatName) in available">{{ format.name }}</li>
            </ul>
        </div>
    </div>
</script>


<script type="text/x-template" id="order-line-template">
    <div v-bind:class="[expanded ? '' : 'readonly']">
        <!--<h2></h2>-->

        <h2 v-on:click="expanded = !expanded">
            <span class="indicator" v-bind:class="[expanded ? 'active' : '']"></span> {{ metadata.name }}
        </h2>
        <div class="pull-right margin-top-10">
            <span v-show="hasErrors" class="orderline-field-counter">
                <span v-on:click="expanded = true" class="custom-icon custom-icon-warning" data-toggle="tooltip" data-placement="bottom" title="Vis mangler">
                    <span class="custom-icon-overlay">{{ numberOfErrors }}</span>
                </span>
            </span>
            <span v-show="!hasErrors" class="orderline-field-counter">
                <span class="custom-icon custom-icon-checked" data-toggle="tooltip" data-placement="bottom" title="Datasett er korrekt utfylt">
                </span>
            </span>
            <a v-bind:href="metadata.url" data-toggle="tooltip" data-placement="bottom" title="Gå til datasett" class="btn"><span class="fa fa-home"></span></a>
            <!-- <span v-on:click="$parent.cloneSelectedProperties(index)" data-toggle="tooltip" data-placement="bottom" title="Bruk valg på alle datasett" class="btn"><span class="fa fa-clone"></span></span>
             <span v-on:click="$parent.clearSelectedProperties(index)" data-toggle="tooltip" data-placement="bottom" title="Fjern valg fra datasett" class="btn"><span class="fa fa-eraser"></span></span> -->
            <span v-on:click="removeOrderItem(orderItem)" data-toggle="tooltip" data-placement="bottom" title="Slett datasett" class="btn"><span class="fa fa-trash"></span></span>
        </div>
        <div class="clearfix"></div>
        <div v-show="expanded">
            <div class="row orderline-fields">
                <div class="col-md-4 orderline-field">
                    <p>Område</p>
                    <div is="areas" v-bind:available="availableAreas" v-bind:selected="selectedAreas" v-bind:master="false" v-bind:class="[orderLineErrors && orderLineErrors.area && orderLineErrors.area.length ? 'hasError' : '']"></div>
                    <div v-if="orderLineErrors && orderLineErrors.area" class="orderline-errors margin-top-10">
                        <div v-for="orderlineError in orderLineErrors.area" class="help-text form-element-help-text bg-danger">
                            {{ orderlineError }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 orderline-field">
                    <p>Projeksjon</p>
                    <div v-if="Object.keys(availableProjections).length === 0" class="help-text form-element-help-text bg-info"><span>Område må velges først</span></div>
                    <div v-else is="projections" v-bind:available="availableProjections" v-bind:selected="selectedProjections" v-bind:master="false" v-bind:class="[orderLineErrors && orderLineErrors.projection && orderLineErrors.projection.length ? 'hasError' : '']"></div>
                    <div v-if="orderLineErrors && orderLineErrors.projection" class="orderline-errors margin-top-10">
                        <div v-for="orderlineError in orderLineErrors.projection" class="help-text form-element-help-text bg-danger">
                            {{ orderlineError }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 orderline-fields">
                    <p>Format</p>
                    <div v-if="Object.keys(availableFormats).length === 0" class="help-text form-element-help-text bg-info"><span>Område må velges først</span></div>
                    <div v-else is="formats" v-bind:available="availableFormats" v-bind:selected="selectedFormats" v-bind:master="false" v-bind:class="[orderLineErrors && orderLineErrors.format && orderLineErrors.format.length ? 'hasError' : '']"></div>
                    <div v-if="orderLineErrors && orderLineErrors.format" class="orderline-errors margin-top-10">
                        <div v-for="orderlineError in orderLineErrors.format" class="help-text form-element-help-text bg-danger">
                            {{ orderlineError }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>

<script type="text/x-template" id="master-order-line-template">
    <div>
        <p>Alle datasett</p>
        <div class="row">
            <div class="col-md-4">
                <p>Område <span href="#" class="badge help-text-toggle">?</span></p>
                <div is="areas" v-bind:available="availableAreas" v-bind:selected="selectedAreas" v-bind:master="true">

                </div>
            </div>
            <div class="col-md-4">
                <p>Projeksjon <span href="#" class="badge help-text-toggle">?</span></p>
                <div v-if="Object.keys(availableProjections).length === 0" class="help-text form-element-help-text bg-info"><span>Område må velges først</span></div>
                <div v-else is="projections" v-bind:available="availableProjections" v-bind:selected="selectedProjections" v-bind:master="true"></div>

            </div>
            <div class="col-md-4">
                <p>Format <span href="#" class="badge help-text-toggle">?</span></p>
                <div v-if="Object.keys(availableFormats).length === 0" class="help-text form-element-help-text bg-info"><span>Område må velges først</span></div>
                <div v-else is="formats" v-bind:available="availableFormats" v-bind:selected="selectedFormats" v-bind:master="true"></div>
            </div>
        </div>
    </div>


</script>




<div id="vueContainer">
    <section class="heading">
        <div class="row">
            <div class="col-sm-12">
                <h1 v-show="!orderResponse.length">Min kurv</h1>
                <h1 v-show="orderResponse.length">Min bestilling</h1>
            </div>
            <div class="col-sm-12">
                <span class="separator-lg"></span>
            </div>
        </div>
    </section>

    <article id="orderlist" v-show="orderLines.length && !orderResponse.length">
        <div id="downloadformVue" class="download-form">
            <div class="orderline orderline-master">
                <div is="masterOrderLine"
                     v-bind:all-available-areas="masterOrderLine.allAvailableAreas"
                     v-bind:all-available-projections="masterOrderLine.allAvailableProjections"
                     v-bind:all-available-formats="masterOrderLine.allAvailableFormats"
                     v-bind:all-selected-areas="masterOrderLine.allSelectedAreas"
                     v-bind:all-selected-projections="masterOrderLine.allSelectedProjections"
                     v-bind:all-selected-formats="masterOrderLine.allSelectedFormats"
                     v-bind:all-order-line-errors="masterOrderLine.allOrderLineErrors">
                </div>

            </div>
            <div class="orderlines">
                <div v-for="(orderLine, index) in orderLines" class="orderline">
                    <div is="orderLine"
                         v-bind:metadata="orderLine.metadata"
                         v-bind:capabilities="orderLine.capabilities"
                         v-bind:available-areas="masterOrderLine.allAvailableAreas[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allAvailableAreas[orderLine.metadata.uuid] : []"
                         v-bind:available-projections="masterOrderLine.allAvailableProjections[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allAvailableProjections[orderLine.metadata.uuid] : []"
                         v-bind:available-formats="masterOrderLine.allAvailableFormats[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allAvailableFormats[orderLine.metadata.uuid] : []"
                         v-bind:selected-areas="masterOrderLine.allSelectedAreas[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allSelectedAreas[orderLine.metadata.uuid] : []"
                         v-bind:selected-projections="masterOrderLine.allSelectedProjections[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allSelectedProjections[orderLine.metadata.uuid] : []"
                         v-bind:selected-formats="masterOrderLine.allSelectedFormats[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allSelectedFormats[orderLine.metadata.uuid] : []"
                         v-bind:local-selected-areas="masterOrderLine.allLocalSelectedAreas[orderLine.metadata.uuid]"
                         v-bind:local-selected-projections="masterOrderLine.allLocalSelectedProjections[orderLine.metadata.uuid]"
                         v-bind:local-selected-formats="masterOrderLine.allLocalSelectedFormats[orderLine.metadata.uuid]"
                         v-bind:order-line-errors="masterOrderLine.allOrderLineErrors[orderLine.metadata.uuid] !== undefined ? masterOrderLine.allOrderLineErrors[orderLine.metadata.uuid] : {}">
                    </div>
                </div>
            </div>


            <div class="download-form">
                <div v-show="emailRequired" class="row margin-bottom-10">
                    <div id="emailField" class="col-sm-6 margin-bottom-10">
                        <p class="article-p">E-post: <span class="required-indicator"></span></p>
                        <input type="text" v-model="email" name="email" class="form-control" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="pull-right">
                                <a class="btn" id="remove-all-items"><span class="glyphicon glyphicon-remove"></span> Fjern alle</a>
                                <a href="/" class="btn"><span class="glyphicon glyphicon-shopping-cart"></span> Bestill mer</a>
                                <button v-on:click="sendRequests()" v-bind:disabled="!formIsValid()" class="btn"><span class="glyphicon glyphicon-save"></span> Last ned</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div id="kartModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="norgeskart" aria-hidden="true">
                    <div class="modal-dialog" id="norgeskartmodal">
                        <div class="modal-content">
                            <div id="viewer" role="main" style="height:100%">
                                <div id="container"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button><button id="setcoordinates" type="button" class="btn btn-default" data-dismiss="modal">Legg til område</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="remove-all-items-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Fjerning av datasett</h4>
                            </div>
                            <div class="modal-body">
                                Er du sikker på at du vil fjerne alle datasett fra kurven?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Nei</button>
                                <button type="button" v-on:click="removeAllOrderItems()" id="remove-all-items-submit" class="btn">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </article>


    <article v-show="!orderLines.length && !orderResponse.length">
        <div class="row">
            <div class="col-md-12">
                <p>Du har ingen elementer i kurven</p>
            </div>
        </div>
    </article>

    <article id="responseList" v-show="orderResponse.length">
        <div class="row">
            <div class="col-md-12">
                <div v-for="responseItem in orderResponse">
                    <p>Referansenummer: {{ responseItem.data.referenceNumber }}</p>
                    <div class="list-group download-list">
                        <div v-if="file.status == 'ReadyForDownload'" v-for="file in responseItem.data.files" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 col-md-7">
                                    <a v-bind:href="file.downloadUrl" data-toggle="tooltip" data-placement="bottom" v-bind:title="file.name">
                                        <span class="custom-icon custom-icon-lastned"></span>
                                        <span class="download-list-item-name">
                                            {{ file.metadataName }}, <span class="inline-block">{{ file.areaName }}</span>
                                        </span>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <span class="label label-success auto-width">{{file.projectionName}}</span>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="label label-info">{{file.format}}</span>
                                </div>
                            </div>
                        </div>
                        <div v-if="file.status == 'WaitingForProcessing'" v-for="file in responseItem.data.files" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6 col-md-7">
                                    <span class="custom-icon custom-icon-info"></span>
                                    <span class="download-list-item-name">
                                        {{ file.metadataName }}, <span class="inline-block">Valgt fra kart</span> <small class="inline-block">(Under behandling)</small>
                                    </span>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <span class="label label-success auto-width">{{ file.projectionName }}</span>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <span class="label label-info">{{file.format}}</span>
                                </div>
                            </div>
                        </div>
                        <div v-if="!file.status && file.name" v-for="file in responseItem.data.files" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <span class="custom-icon custom-icon-info"></span>
                                    <span class="download-list-item-name">
                                        {{ file.name }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script type="text/javascript" src="~/Scripts/vue-select.js"></script>

<script type="text/javascript" src="~/Scripts/vue-download.js"></script>
@Html.Partial("_Norgeskart")
