@model OrderReceiptType
@{
    ViewBag.Title = "Nedlasting";
}

@*<h2>Takk for din bestilling</h2>
Ditt referansenummer er: <b>@Model.referenceNumber</b>*@
<h4>Filer for nedlasting:</h4>
@foreach(var file in Model.files)
{
    <a href="@file.downloadUrl" target="_blank">@file.name</a><br />
}
