@model List<OrderReceiptType>
@{
    ViewBag.Title = "Nedlasting";
}


<h4>Filer for nedlasting:</h4>
<div class="list-group download-list">
        @foreach (var receipt in Model)
    {
        foreach (var file in receipt.files)
        {
            if (!string.IsNullOrEmpty(file.downloadUrl))
            {
                <a class="list-group-item" href="@file.downloadUrl " onclick="ga('send', 'event', 'Filnedlasting', 'lastetnedfil');" target=" _blank"><span class="glyphicon glyphicon-download-alt"></span> @file.name</a>
            }
            else
            {
                <p class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> @file.name</p>
            }
        }
    }
</div>

