@model List<OrderReceiptType>
    @{
    ViewBag.Title = "Nedlasting";
}

<h4>Filer for nedlasting:</h4>
@foreach (var receipt in Model)
{
    foreach (var file in receipt.files)
    {
        if (!string.IsNullOrEmpty(file.downloadUrl))
        {
        <a href="@file.downloadUrl" target="_blank">@file.name</a><br />
        }
        else
        {
        @file.name<br />
        }
    }
}
