
.geonorge-aut a {
    font-family: 'Raleway', sans-serif;
    font-size: 10.5pt;
    color: #968c83;
    text-decoration: none;
}

.container-top-menu {
    background-color: #B6AFA8;
    height: 15px;
}

.top-menu,
.top-menu nav {
    height: 15px;
    margin-bottom: 0;
}

.navbar {
    border: 0;
    border-radius: 0;
    min-height: 15px;
    z-index: 2;
}

.navbar-collapse {
    -moz-box-shadow: 0 3px 8px rgba(128, 130, 133, 0.75);
    -webkit-box-shadow: 0 3px 8px rgba(128, 130, 133, 0.75);
    box-shadow: 0 3px 8px rgba(128, 130, 133, 0.75);
    margin: 15px 0 0 0;
    overflow: hidden;
    /*padding: 0 2.5px 2.5px;*/
    padding: 0;
}



/*.navbar-nav-container {
    -moz-box-shadow: 0 0 2.5px 2.5px rgba(128, 130, 133, 0.75);
    -webkit-box-shadow: 0 0 2.5px 2.5px rgba(128, 130, 133, 0.75);
    box-shadow: 0 0 2.5px 2.5px rgba(128, 130, 133, 0.75);
}*/

.navbar-nav {
    margin: 0;
    width: 100%;
}

.navbar-nav li:last-child > a { border-bottom: none; }



.navbar-nav .dropdown {
    padding: 0;
    position: static;
}

.navbar-nav .dropdown > a,
.navbar-nav .dropdown > a:hover,
.navbar-nav .dropdown > a:focus {
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #B6AFA8;
    background-image: url('../../Images/Arrow_414042_12px_mobile.svg');
    background-position: 11px center;
    background-repeat: no-repeat;
    background-size: auto 12px;
    border-bottom: 1px solid #968c83;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    padding-left: 33px;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
}

.navbar-nav .dropdown .dropdown-menu {
    background-color: #FE5000;
    border: 1px;
    border-radius: 0;
    display: block;
    max-height: 0;
    opacity: 0.9;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.navbar-nav .dropdown .dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    opacity: 1;
    padding: 0 0 15px 0;
}

.navbar-nav .dropdown .dropdown-menu ul li { padding: 0; }

.navbar-nav .dropdown .dropdown-menu li { opacity: 1; }

.navbar-nav .dropdown .dropdown-menu a {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 40pt;
    opacity: 1;
    padding-left: 18px;
}

.navbar-nav .dropdown .dropdown-menu > li > ul > li > ul > li a { font-weight: 500; }

.navbar-nav .dropdown .dropdown-menu > li > ul > li > a {
    background-image: url('../../Images/Dot_ffffff_8px-01.png');
    background-position: 13px 20px;
    background-repeat: no-repeat;
    background-size: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    font-weight: 700;
    line-height: 24pt;
    opacity: 1;
    padding: 8px 0 4px 33px;
    text-transform: uppercase;
}

.navbar-nav .dropdown .dropdown-menu > li > ul > li ul > li { padding-left: 33px; }

.navbar-nav .dropdown .dropdown-menu > li > ul > li ul > li > a { padding: 0; }

.navbar-nav .dropdown .dropdown-menu > li > ul > li ul > li > a.external:after {
    background: url('../../Images/external_link_ffffff_12px-01.svg');
    background-size: 12px 11px;
    content: "";
    display: inline-block;
    height: 11px;
    margin: 0 auto 0 5px;
    width: 12px;
}

.navbar-nav .open .dropdown-menu,
.navbar-nav .open .dropdown-menu * {
    -moz-transition: max-height 3s ease-in-out;
    -o-transition: max-height 3s ease-in-out;
    -webkit-transition: max-height 3s ease-in-out;
    max-height: 10000px;
    transition: max-height 3s ease-in-out;
}

.nav .open > a:hover,
.navbar .open > a:focus {
    background-color: #414042;
    background-image: url('../../Images/Arrow_968c83_12px_mobile.svg');
    background-position: 11px center;
    background-repeat: no-repeat;
    background-size: auto 12px;
    border-color: #968c83;
    color: #FFFFFF;
}

.menu-separator {
    background-color: #FE5000;
    height: 1px;
}

@media (min-width: 768px) {
    .container-top-menu { height: 35px; }

    .navbar { min-height: 35px; }

    .top-menu,
    .top-menu nav { height: 35px; }

    .menu-separator { height: 2px; }

    .navbar-collapse {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .navbar-nav .dropdown > a,
    .navbar-nav .dropdown > a:not(:hover) {
        background-color: #B6AFA8;
        background-image: none;
        border-bottom: none;
        color: #414042;
        font-size: 14pt;
        height: 34px;
        line-height: 35px;
        padding-left: 10px;
        width: 160px;
    }

    .navbar-nav .open .dropdown-menu > li > ul > li > a {
        font-size: 14pt;
        padding: 8px 15px 15px 33px;
    }

    .navbar-nav .dropdown .dropdown-menu { padding-bottom: 0; }

    .navbar-nav .dropdown .dropdown-menu a {
        font-size: 14pt;
        line-height: 26pt;
    }

    .navbar-nav .dropdown .dropdown-menu > li ul > li { padding-bottom: 20px; }

    .nav .open > a:hover,
    .navbar-nav .dropdown > a:hover,
    .navbar .open > a:focus {
        -moz-transition: all .35s ease-in;
        -ms-transition: all .35s ease-in;
        -o-transition: all .35s ease-in;
        -webkit-transition: all .35s ease-in;
        background-color: #545355;
        background-image: none;
        border-bottom: none;
        color: #FFFFFF;
        font-size: 14pt;
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
        transition: all .35s ease-in;
        width: 160px;
    }

    .navbar-nav-container {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav .dropdown .dropdown-menu > li > ul > li > a { font-size: 14pt; }

    .navbar-nav .dropdown .dropdown-menu ul { padding: 0; }
}