@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400);


.container-search {
    background-color: #DFDCDA;
    height: 50px;
}

.container .searchbar {
    height: 35px;
    margin: 0 auto;
    max-width: 550px;
    padding: 7.5px 15px;
}

.container .searchbar * {
    background-color: white;
    border: none;
    border: 0;
    height: 35px;
    padding: 0;
    z-index: 0;
}

.container .searchbar button:hover { background-color: white; }

.container .searchbar input {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: none;
    color: #414042;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    padding-left: 21px;
}

.container .searchbar input::-webkit-input-placeholder { color: #414042; }

.container .searchbar input:-moz-placeholder {
    color: #414042;
    opacity: 1;
}

.container .searchbar input::-moz-placeholder {
    color: #414042;
    opacity: 1;
}

.container .searchbar input:-ms-input-placeholder { color: #414042; }

.container .searchbar .input-group-btn,
.container .searchbar .input-group-btn * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 6px;
}

.container .searchbar .input-group-addon {
    border-radius: 0;
    width: 0;
}

.search .input-group-btn button img {
    height: 23px;
    padding-left: 17.3px;
    padding-right: 21px;
}

.container .shopping-cart,
.container .shopping-cart img {
    background-color: transparent;
    border-radius: 0;
    height: 28px;
}

.container .shopping-cart-container {
    height: 21px;
    margin: 15px 0;
    padding: 0;
}

.container .shopping-cart {
    bottom: 0;
    margin: auto;
    padding: 0 10px 0 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.auto-results { margin: 0; }

.auto-results * {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.auto-results-wrapper {
    -moz-transition: max-height 2s ease-in-out;
    -ms-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    background-color: #eae8e6;
    border-radius: 3px;
    box-shadow: 0 0 10px #bcbec0;
    display: block;
    margin: 0;
    max-height: 10000px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -6px;
    transition: max-height 2s ease-in-out;
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -o-calc(100% - 30px);
    z-index: 3;
}

.container .ng-hide-add, .container .ng-hide-remove { display: block !important; }

.auto-results-wrapper.ng-hide {
    -moz-transition: max-height 2s ease-in-out;
    -ms-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    max-height: 0;
    transition: max-height 2s ease-in-out;
}

.auto-result-row { padding: 0; }

.auto-result-row:nth-child(2n) { background-color: #ffffff; }

.auto-results-title {
    color: #414041;
    font-family: 'Open Sans', sans-serif;
    font-size: 17pt;
    font-weight: 600;
    line-height: 44pt;
    margin-bottom: 5px;
    margin-top: 17px;
}

.auto-results-col {
    padding-bottom: 12px;
    padding-left: 34.6px;
}

.auto-results-inner,
.auto-results-inner:hover {
    color: #3867c8;
    font-family: 'Open Sans', sans-serif;
    font-size: 17pt;
    font-weight: 400;
    line-height: 44pt;
}

.autocomplete-loader { position: relative; }

.container .searchbar .input-group-addon .loader {
    background-image: url('../../Images/gif_loading-01.gif');
    background-repeat: no-repeat;
    background-size: 23px auto;
    height: 27.60px;
    margin: 0 auto;
    margin-top: 4px;
    position: absolute;
    right: 0;
    width: 23px;
}

@media (min-width: 768px) {
    .container .searchbar {
        height: 60px;
        padding: 15px 0;
    }

    .container .searchbar * { height: 60px; }

    .container-search { height: 90px; }

    .searchbar { padding: 15px 0; }

    .container .searchbar input {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        padding-left: 34.6px;
    }

    .search .input-group-btn button img {
        height: 33px;
        padding-right: 34.6px;
    }

    .container .searchbar .input-group-btn,
    .container .searchbar .input-group-btn * {
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .auto-results-wrapper {
        margin: 0 66.250px;
        position: absolute;
        top: -14px;
        width: 550px;
    }

    .auto-results-container { padding: 0; }

    .auto-results-title {
        font-size: 13pt;
        line-height: 22pt;
    }

    .auto-results-inner,
    .auto-results-inner:hover {
        font-size: 13pt;
        line-height: 22pt;
    }

    .container .searchbar .input-group-addon .loader {
        background-size: auto;
        height: 36px;
        margin-top: 12px;
        width: 30px;
    }

    .container .shopping-cart-container { height: 60px; }

    .container .shopping-cart,
    .container .shopping-cart img { height: 35px; }
}



@media (min-width: 768px) and (max-width: 992px) {
    .auto-results-wrapper {
        margin: 0 68.75px;
        position: absolute;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .auto-results-wrapper {
        margin: 0 8.25px;
        position: absolute;
    }
}