

<script type="text/x-template" id="metadata-template">
    <div>
        <div class="btn-table-row-5">
            <!--<div v-for="buttonElement in buttonElements" v-html="buttonElement" class="table-btn-container"></div>-->

        </div>
    </div>
</script>
<script>
    var Metadata = {
        template: "#metadata-template",
        props: ["metadata"],
        data: function () {
            var data = {
                buttons: [],
                buttonElements: []
            };
            return data;
        },
        created: function () {
            this.buttons.push(this.getShowMapButton());
            this.buttonElements = this.getButtonElements();
        },
        methods: {
            getButtonElements: function () {
                var buttonElements = [];
                this.buttons.forEach(function (button) {
                    buttonElements.push(this.createButtonElement(button));
                }.bind(this));
                return buttonElements;
            },
            createButtonElement: function (button) {
                var attributes = '';

                if (button.attributes !== undefined && button.attributes.length) {
                    button.attributes.forEach(function (buttonAttribute) {
                        attributes += buttonAttribute.key + '="' + buttonAttribute.value + '" ';
                    });
                }
                var iconElement = '<span id="' + button.icon.id + '" class="' + button.icon.className + '"></span>';
                var buttonElement = '<a id="' + button.id + '" href="' + button.url + '" data-toggle="tooltip" data-placement="bottom" title="" class="' + button.className + '">' + iconElement + button.content + '</a>';
                return buttonElement;
            },
            getShowMapButton: function () {
                var button = {
                    id: "mapmacrolink-" + this.metadata.Uuid,
                    content: "Vis i kart",
                    className: "btn",
                    url: this.metadata.DistributionDetails.URL,
                    title: "Vis " + this.metadata.Title + " i kart",
                    icon: {
                        id: "mapmacro-button-" + this.metadata.Uuid,
                        className: "custom-icon"
                    },
                    attributes: [
                        { key: "onClick", value: "ga('send', 'event', 'Nedlasting', 'viskart')" }
                    ]
                }

                if (this.metadata.ShowMapLink) {
                    button.icon.className += " custom-icon-kartmarkoer";

                } else if (this.metadata.ShowServiceMapLink) {
                    button.icon.className += this.restrictedServiceClass();
                } else {
                    button.className += " disabled";
                    button.icon.className += " custom-icon-kartmarkoer";
                    button.id = "";
                    button.icon.id= "";
                    button.attributes = [];
                }
                return button;
            },
            getDownloadButton: function () {
                var button = {
                    id: "mapmacrolink-" + this.metadata.Uuid,
                    content: "Vis i kart",
                    className: "btn",
                    url: this.itemAddToCart.href ? this.itemAddToCart.href : this.metadata.DistributionDetails.URL,
                    title: "Vis " + this.metadata.Title + " i kart",
                    icon: {
                        id: "mapmacro-button-" + this.metadata.Uuid,
                        className: "custom-icon"
                    },
                    attributes: [
                        { key: "onClick", value: "ga('send', 'event', 'Nedlasting', 'viskart')" }
                    ]
                }

                if (this.metadata.ShowMapLink) {
                    button.icon.className += " custom-icon-kartmarkoer";

                } else if (this.metadata.ShowServiceMapLink) {
                    button.icon.className += this.restrictedServiceClass();
                } else {
                    button.className += " disabled";
                    button.icon.className += " custom-icon-kartmarkoer";
                    button.id = "";
                    button.icon.id = "";
                    button.attributes = [];
                }
                return button;
            },
            showServiceMapLink: function () {
                if (this.metadata.ServiceUrl) return true;
                else return false;
            },
            isRestrictedService: function () {
                if (this.metadata.ServiceDistributionAccessConstraint == "Beskyttet" ||
                    this.metadata.ServiceDistributionAccessConstraint == "restricted" ||
                    this.metadata.ServiceDistributionAccessConstraint == "norway digital restricted") return true;
                else {
                    return false;
                }
            },
            restrictedServiceClass: function () {
                var iconPermissionClass;
                if (this.isRestrictedService()) {
                    iconPermissionClass = " custom-icon-kartmarkoer-needs-permission";
                } else {
                    iconPermissionClass = " custom-icon-kartmarkoer";
                }
                return iconPermissionClass;
            }
        }
    };
</script>
