@Html.Partial("VueComponents/_TableHeader")

<script type="text/x-template" id="search-result-template">
    <div>
        <div v-if="$root.viewType == 'tableView' && items.length" class="row resultItemRowTableHeader">
            <div class="col-sm-4" is="header-title"></div>
            <div class="col-sm-2" is="header-type"></div>
            <div class="col-sm-3" is="header-organization"></div>
            <div class="col-sm-1" is="header-open-data"></div>
            <div class="col-sm-1" is="header-url"></div>
            <div class="col-sm-1" is="header-map"></div>
        </div>

        <div v-if="$root.viewType == 'tableView'" class="menu-separator search-results-table-heading"></div>

        <div v-for="item in items"
             is="resultItem"
             v-bind:result-item="item"
             v-bind:selected-fields="[
                 {name: 'title', size: '4'},
                 {name: 'distributionType', size: '2'},
                 {name: 'owner', size: '3'},
                 {name: 'openData', size: '1'}
             ]"
             v-bind:selected-buttons="[
                 'copyUrlButton',
                 'showInMapButton'
                 ]">
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script>
    var SearchResult = {
        template: "#search-result-template",
        name: "SearchResult",
        props: ["resultItems"],
        data: function() {
            var data = {
                items: this.resultItems,
                currentOrderByParameter: getParameterByName("orderby")
            };
            return data;
        },
        components: {
            ResultItem: ResultItem,
            TableHeader: TableHeader
        },
        computed: {
            tableBorder: function() {
                if (this.$root.viewType === "galleryView") {
                    return "";
                } else {
                    return "table-border-bottom";
                }
            }
        }
    }
</script>
