<script type="text/x-template" id="distributionRows">
    @* *** Liste *** *@
    <div v-if="$root.viewType == 'listView'">
        <div>
            <div class="col-sm-5"><p>Tittel</p></div>
            <div class="col-sm-2"><p>Type</p></div>
            <div class="col-sm-5"><p>Dataeier</p></div>
            <div class="clearfix"></div>
        </div>
        <hr class="menu-separator" />
        @*Tittel*@
        <div style="padding: 10px 0px;" v-for="resultItemDistribution in underlayingDistributions">
            <div class="col-sm-5">
                <a v-if="resultItemDistribution.ShowDetailsUrl" v-bind:href="resultItemDistribution.ShowDetailsUrl" class="show-loading-animation">
                    <span v-if="resultItemDistribution.Title" class="role-button search-results-name" role="button">{{resultItemDistribution.Title}}</span>
                </a>
            </div>

            @*Distribusjonstype *@
            <div class="col-sm-2">
                <span v-if="resultItemDistribution.TypeTranslated" v-bind:title="resultItemDistribution.TypeTranslated" v-bind:class="type" style="width:auto">{{resultItemDistribution.typeTranslated}}</span>
            </div>

            @*Organisasjon*@
            <div class="col-sm-5">
                {{resultItemDistribution.Organization}}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div v-else-if="$root.viewType == 'tableView'">
        <div style="padding: 5px 0px 5px;">
            @*Tittel*@
            <div style="padding: 10px 0px;" v-for="resultItemDistribution in underlayingDistributions">
                <div class="col-sm-offset-1 col-sm-3">
                    <a v-if="resultItemDistribution.ShowDetailsUrl" v-bind:href="resultItemDistribution.ShowDetailsUrl" class="show-loading-animation">
                        <span v-if="resultItemDistribution.Title" class="role-button search-results-name" role="button">{{resultItemDistribution.Title}}</span>
                    </a>
                </div>

                @*Distribusjonstype *@
                <div class="col-sm-2">
                    <span v-if="resultItemDistribution.Type" v-bind:title="resultItemDistribution.Type" class="label label-default" style="width:auto">{{resultItemDistribution.Type}}</span>
                </div>

                @*Organisasjon*@
                <div class="col-sm-3">
                    {{resultItemDistribution.Organization}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</script>


@{var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer(); }

<script>
    //Component
    var distributionRows = {
        template: "#distributionRows",
        props: ["underlayingDistributions"],
        data: function () {
            var data = {
                resultItemDistribution: {}
            };
            return data;
        },

    };
</script>

