<script type="text/x-template" id="distributionRows">
    <div style="padding: 5px 0px 5px; background-color:#f4f4f4">
    @*Tittel*@
        <div style="padding: 10px 0px;" v-for="resultItemDistribution in underlayingDistributions">
            <div class="col-sm-offset-1 col-sm-4 distribution-title">
                <a v-if="resultItemDistribution.ShowDetailsUrl" v-bind:href="resultItemDistribution.ShowDetailsUrl" class="show-loading-animation">
                    <span v-if="resultItemDistribution.Title" class="role-button search-results-name" role="button">{{resultItemDistribution.Title}}</span>
                </a>
            </div>

            @*Distribusjonstype *@
            <div class="col-sm-2">
                <span v-if="resultItemDistribution.Type" v-bind:title="resultItemDistribution.Type" class="label label-tjeneste" style="width:auto">{{resultItemDistribution.Type}}</span>
            </div>

            @*Organisasjon*@
            <div class="col-sm-3">
                    {{resultItemDistribution.Organization}}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>


@{var javaScriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer(); }

<script>
    //Component
    var distributionRows = {
        template: "#distributionRows",
        props: ["underlayingDistributions"],
        data: function() {
            var data = {
                resultItemDistribution: {}
            };
            return data;
        }
    };
</script>

