@{
    Layout = null;
}
 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feil</title>
</head>
<body>
    <hgroup>
        <h1>Feil.</h1>
    </hgroup>
    <p>Det har desverre skjedd en feil med din forespørsel. Prøv igjen om litt.</p>
    <p>Feilen er logget og vil sjekkes av systemansvarlig.</p>
</body>
</html>
