<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SolrServerUrl" value=""/>
  <add key="apikey" value=""/>
  <add key="MapOnlyWms" value="true" />
  <add key="GeoID:ClientId" value="" />
  <add key="GeoID:ClientSecret" value="" />
  <add key="GeoID:Authority" value="" />
  <add key="GeoID:Issuer" value="" />
  <add key="GeoID:RedirectUri" value="https://xxxx/signin-oidc" />
  <add key="GeoID:PostLogoutRedirectUri" value="https://xxxx/signout-callback-oidc" />
  <add key="GeoID:MetadataAddress" value="" />
  <add key="GeoID:BaatAuthzApiUrl" value=""/>
  <add key="GeoID:BaatAuthzApiCredentials" value=""/>
  <!-- brukernavn og passord separert med kolon -->
  <add key="AccessibilityStatementUrl" value="https://uustatus.no/nb/erklaringer/publisert/698f231b-2177-4e76-bd93-628b24564dd8" />
  <add key="AI:EndpointUrl" value=""/>
  <add key="AI:EndpointApiKey" value=""/>
  <add key="AI:EmbeddingName" value=""/>
</appSettings>