@model Kartverket.Metadatakatalog.Models.ViewModels.SearchViewModel

<h3>Søk i metadatakatalogen</h3>
<form action="@Url.Action("Index", "Search")" method="get" class="form-inline search-box">
    <div class="form-group">
        <input name="text" type="text" class="form-control"  value="@Model.Text" />    
    </div>
    <input type="submit" value="Søk" class="btn btn-primary"/>
</form>