<div class="backdrop"></div>
<div class="survey-block container">
    <div class="flex-wrapper">
        <div class="close">X</div>
        <div class="PopUpText">
            <h2>Hjelp oss med å bli bedre!</h2>
            <p>Vi håper du kan sette av 2-3 minutter for å svare på en undersøkelse som skal hjelpe oss i utviklingen av Geonorge.</p>
            <p>Har du tid?</p>
        </div>
        <div class="survey-buttons">
            <button survey-accept class="btn-survey">Ja</button>
            <button survey-decline class="btn-survey">Nei</button>
        </div>
    </div>
</div>
