<div class="backdrop"></div>
<div class="survey-block container">
    <div class="flex-wrapper">
        <div class="close">X</div>
        <div class="PopUpText">
            <h2>Hjelp oss å gjøre geonorge.no bedre!</h2>
            <p>Vi har laget en spørreundersøkelse for å finne ut hvordan DU synes det er å bruke geonorge.no. Undersøkelsen tar 2-3 minutter. Vil du delta?</p>
        </div>
        <div class="survey-buttons">
            <button survey-accept class="btn-survey">Ja</button>
            <button survey-decline class="btn-survey">Nei</button>
        </div>
    </div>
</div>
