<script type="text/x-template" id="filter-tab-template">
    <li class="tab" v-bind:class="{'active': hasSelected}">
        <a v-on:click="$parent.toggleFilterTabs(filter.FacetResults)">
            {{ filter.FacetName }}
            <span class="badge counter-badge">{{ filter.count }}</span>
        </a>
    
    @*
        <div v-bind:class="{'selected': facetResult.isSelected, 'is-empty': facetResult.Count == 0}" v-for="facetResult in FacetResults">
            <div class="facet-checkbox  facet-link">
                <span v-on:click="$root.toggleFilter(FacetField, facetResult)"
                      data-loading-message="Filtrerer søkeresultat" class="facet-checkbox-icon show-loading-animation">
                </span>
                {{ facetResult.FacetName }} <span class="text-muted">({{ facetResult.Count }})</span>
            </div>
        </div>*@
</li>
</script>

<script>
    var FilterTab = {
        name: 'FilterTab',
        template: "#filter-tab-template",
        props: ['filter'],
        computed: {
            hasSelected: function () {
                var hasSelected = false;
                if (this.filter.FacetResults.length) { // Select the active tab
                    if (this.$parent.hasSelected(this.filter.FacetResults)) hasSelected = true; 
                } else if (!this.$parent.facetsWithSpesificNameIsSelected('type')){ // Select 'All'-tab if no 'type'-facet is selected
                    hasSelected = true;
                }
                return hasSelected;
            }
        }
    };
</script>
