<script type="text/x-template" id="filter-tab-template">
    <li class="tab" v-bind:class="{'active': hasSelected && hasActiveViewType}">
        <a v-on:click="toggleFilterTab()"
           data-loading-message="Filtrerer søkeresultat"
           class="facet-checkbox-icon"
           v-bind:class="{'show-loading-animation': showLoadingAnimation}">
            {{ filter.FacetName }}
            <span class="badge counter-badge">{{ filter.count }}</span>
        </a>
    </li>
</script>

<script>
    var FilterTab = {
        name: 'FilterTab',
        template: "#filter-tab-template",
        props: ['filter'],
        methods: {
            toggleFilterTab: function () {
                if (this.filter.name == 'articles') {
                    this.$root.viewType = 'articlesList';
                    localStorage.viewType = 'articlesList';
                }
                else {
                    this.$root.viewType = 'tableView';
                    localStorage.viewType = 'tableView';
                    if (!this.hasSelected) {
                        this.$parent.toggleFilterTabs(this.filter.FacetResults, this.filter.selectedFields, this.filter.selectedButtons);
                    }
                }
            }
        },
        computed: {
            showLoadingAnimation: function () {
                return this.filter.name != 'articles' && !this.hasSelected;
            },
            hasActiveViewType: function () {
                if (this.filter.name == 'articles' && this.$root.viewType == 'articlesList')
                    return true
                else if (this.filter.name != 'articles' && this.$root.viewType == 'tableView')
                    return true;
                else
                    return false;
            },
            hasSelected: function () {
                var hasSelected = false;

                if (this.filter.name == 'articles') {
                    hasSelected = this.$root.viewType == 'articlesList';
                }
                else {
                    if (this.filter.FacetResults.length) { // Select the active tab
                        if (this.$parent.hasSelected(this.filter.FacetResults)) {
                            hasSelected = true;
                            this.$root.selectedFields = this.filter.selectedFields;
                            this.$root.selectedButtons = this.filter.selectedButtons;
                        }
                    } else if (!this.$parent.facetsWithSpesificNameIsSelected('type')) { // Select 'All'-tab if no 'type'-facet is selected
                        hasSelected = true;
                        this.$root.selectedFields = this.filter.selectedFields;
                        this.$root.selectedButtons = this.filter.selectedButtons;
                    }
                }
                return hasSelected;
            }
        }
    };
</script>
